<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>移动端-推介地块</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="../../style/base.css">
    <link rel="stylesheet" href="../../style/index.css">
    <link rel="stylesheet" href="../../style/other.css">
    <script src="../../scripts/jquery.js"></script>
    <script src="../../scripts/touchslider.dev.js"></script>
    <script src="../../scripts/role.js"></script>

</head>

<body>
    <div class="containBox" id="containBox">
        <div class="containBox_bg" style="height:100%; display: none;"></div>
        <a href="#top" id="toTop">
            <img src="../../images/toTop-icon.png" />
        </a>
        <script type="text/javascript">
            $(function () {
                $("#toTop").scrollToTop(1000);
            });
        </script>
        <!-- header -->
        <div class="header">
            <a id="panelSwitch" class="menu-wrap navBtn" href="#"> <i class="menu"><img src="../../images/icon-menu.png" /></i> 
            </a> <i class="logo"><img src="../../images/yunland-logo.jpg" /></i> 
            <a class="login-wrap" href="#">
                <i class="login">
                    <img src="../../images/icon-account.png" />
                </i>
            </a>
        </div>
        <div class="subheader">
            <div class="follow clearfix">
                <!-- <a class="return-link" href="index.html" id="returnA"></a> -->
                <div class="return-wrap">
                <a class="return" href="javascript:history.back();">
                    <i class="am-icon-lg"></i>
                </a>
            </div>
                <ul class="subheader-cont">
                    <li>
                        <a href="" id="followA">
                            <span>
                                <img src="../../images/follow.png"></span>
                            <br>关注</a>
                    </li>
                    <li>
                        <a href="">
                            <span>1000</span>
                            <br>关注度</a>
                    </li>
                    <li>
                        <a href="">
                            <span>100</span>
                            <br>浏览量</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 内容 -->
        <div class="entry-title">
            <div class="title b3">
                出让地块
                <img class="line" src="../../images/line3.png" />
            </div>
        </div>
        <div class="land-con land-list">
            <ul>
                <li>
                    <div class="land-wrap">
                        <a class="layer" href="flagshipdetail.html">
                            <p class="land-title">
                                <i>
                                    <img src="../../images/shang-icon.png" />
                                </i>
                                萧山区国土资源局
                            </p>
                            <p class="area-price">
                                <span class="area">155万m²</span>
                                <span class="years">500万年</span>
                            </p>
                            <p class="land-region">杭州市-萧山区</p>
                            <p class="date">2016年12月12日</p>
                        </a>
                        <img class="lable-icon" src="../../images/lable-icon.png" />
                    </div>
                </li>
                <li>
                    <div class="land-wrap">
                        <a href="flagshipdetail.html">
                            <p class="land-title">
                                <i>
                                    <img src="../../images/zhai-icon.png" />
                                </i>
                                萧山区国土资源局
                            </p>
                            <p class="area-price">
                                <span class="area">155万m²</span>
                                <span class="years">500万年</span>
                            </p>
                            <p class="land-region">杭州市-萧山区</p>
                            <p class="date">2016年12月12日</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="land-wrap">
                        <a href="flagshipdetail.html">
                            <p class="land-title">
                                <i>
                                    <img src="../../images/gong-icon.png" />
                                </i>
                                萧山区国土资源局
                            </p>
                            <p class="area-price">
                                <span class="area">155万m²</span>
                                <span class="years">500万年</span>
                            </p>
                            <p class="land-region">杭州市-萧山区</p>
                            <p class="date">2016年12月12日</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="land-wrap">
                        <a href="flagshipdetail.html">
                            <p class="land-title">
                                <i>
                                    <img src="../../images/zhong-icon.png" />
                                </i>
                                萧山区国土资源局
                            </p>
                            <p class="area-price">
                                <span class="area">155万m²</span>
                                <span class="years">500万年</span>
                            </p>
                            <p class="land-region">杭州市-萧山区</p>
                            <p class="date">2016年12月12日</p>
                        </a>
                    </div>
                </li><li>
                    <div class="land-wrap">
                        <a href="flagshipdetail.html">
                            <p class="land-title">
                                <i>
                                    <img src="../../images/zhong-icon.png" />
                                </i>
                                萧山区国土资源局
                            </p>
                            <p class="area-price">
                                <span class="area">155万m²</span>
                                <span class="years">500万年</span>
                            </p>
                            <p class="land-region">杭州市-萧山区</p>
                            <p class="date">2016年12月12日</p>
                        </a>
                    </div>
                </li><li>
                    <div class="land-wrap">
                        <a href="flagshipdetail.html">
                            <p class="land-title">
                                <i>
                                    <img src="../../images/zhong-icon.png" />
                                </i>
                                萧山区国土资源局
                            </p>
                            <p class="area-price">
                                <span class="area">155万m²</span>
                                <span class="years">500万年</span>
                            </p>
                            <p class="land-region">杭州市-萧山区</p>
                            <p class="date">2016年12月12日</p>
                        </a>
                    </div>
                </li><li>
                    <div class="land-wrap">
                        <a href="flagshipdetail.html">
                            <p class="land-title">
                                <i>
                                    <img src="../../images/zhong-icon.png" />
                                </i>
                                萧山区国土资源局
                            </p>
                            <p class="area-price">
                                <span class="area">155万m²</span>
                                <span class="years">500万年</span>
                            </p>
                            <p class="land-region">杭州市-萧山区</p>
                            <p class="date">2016年12月12日</p>
                        </a>
                    </div>
                </li><li>
                    <div class="land-wrap">
                        <a href="flagshipdetail.html">
                            <p class="land-title">
                                <i>
                                    <img src="../../images/zhong-icon.png" />
                                </i>
                                萧山区国土资源局
                            </p>
                            <p class="area-price">
                                <span class="area">155万m²</span>
                                <span class="years">500万年</span>
                            </p>
                            <p class="land-region">杭州市-萧山区</p>
                            <p class="date">2016年12月12日</p>
                        </a>
                    </div>
                </li><li>
                    <div class="land-wrap">
                        <a href="flagshipdetail.html">
                            <p class="land-title">
                                <i>
                                    <img src="../../images/zhong-icon.png" />
                                </i>
                                萧山区国土资源局
                            </p>
                            <p class="area-price">
                                <span class="area">155万m²</span>
                                <span class="years">500万年</span>
                            </p>
                            <p class="land-region">杭州市-萧山区</p>
                            <p class="date">2016年12月12日</p>
                        </a>
                    </div>
                </li>
            </ul>
            <div class="page clearfix">
                <p class="prev">
                    <i class="icon-prev"></i>
                    <a href="javaxcript:;">上一页</a>
                </p>
                <p class="sum">
                    <span>1</span>
                    /
                    <span>100</span>
                </p>
                <p class="next">
                    <a href="javaxcript:;">下一页</a>
                    <i class="icon-next"></i>
                </p>
            </div>
        </div>
        <!-- 内容 end --> </div>
    <!-- 侧边栏 -->
    <div class="side" id="jquery-accordion-menu">
        <i class="icon-uimini">云地网</i>
        <ul id="nav-list" class="main-nav mt-15">
            <li>
                <a class="active" href="javascript:;">
                    <i>
                        <img src="../../images/menu-icon2.png" />
                    </i>
                    土地旗舰店
                </a> <em></em>
            </li>
            <li>
                <a href="#">
                    <i>
                        <img src="../../images/menu-icon3.png" />
                    </i>
                    云地大卖场
                </a>
                <ul class="submenu">
                    <li>
                        <a href="#">土地大卖场</a> <em></em>
                    </li>
                    <li>
                        <a href="#">项目大卖场</a>
                        <em></em>
                    </li>
                    <li>
                        <a href="#">海外大卖场</a>
                        <em></em>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i>
                        <img src="../../images/menu-icon4.png" />
                    </i>
                    土地旗舰店
                </a>
                <em></em>
            </li>
            <li>
                <a href="#">
                    <i>
                        <img src="../../images/menu-icon5.png" />
                    </i>
                    土地旗舰店
                </a>
                <em></em>
            </li>
        </ul>
        <div class="propaganda-btn">
            <a class="btn fl" href="javascript:;">发布信息</a>
            <a class="btn fr btn-color" href="javascript:;">发布土地</a>
        </div>
    </div>
    <script type="text/javascript">
        // jQuery(document).ready(function () {
        //     jQuery("#jquery-accordion-menu").jqueryAccordionMenu();
        // });
        $(function () {
            $("#followA").click(function(){
                alert("关注成功");
                // $(this).children("span").remove();
                // $("#followA span").css({"background-color":"red"});
            })
        })
    </script>
    <!-- 侧边栏 end -->
</body>
</html>