<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>推广页面-4</title>
<link rel="stylesheet" type="text/css" href="../../styles/base.css">
<link rel="stylesheet" type="text/css" href="../../styles/landingPage4.css">
</head>

<body>
<!--头部 开始-->
<div id="header">
    <div class="header-welcome">
        <div class="xn-width auto">
            <div class="f-left" style="height: 30px;width: 60%;">
                <span class="f-left">您好 ， 欢迎来到云地，咨询热线：</span>
                <div class="phone">
                    <span class="icon-phone"></span>
                    0571-81902006
                </div>
            </div>
            <div class="f-right column-nav">
                    <a class="pr-20" href="http://www.yunland.cn/base/login?v=1.0-SNAPSHOT">登录</a>
                    <i class="vertical-line bg-color-1"></i>
                    <a class="pr-20" href="http://www.yunland.cn/home/../member/register/step1?v=1.0-SNAPSHOT">注册</a>
                    <i class="vertical-line bg-color-1"></i>
                    <a class="pr-20" href="http://www.yunland.cn/news/informationdetail?type=newComer&amp;v=1.0-SNAPSHOT">新手指引</a>
                    <i class="vertical-line bg-color-1"></i>
                    <a href="#">合作机构</a>
            </div>
        </div>
    </div>
    <div class="header-nav">
        <div class="xn-width auto clearfix">
             <div class="f-left" style="padding-top: 8px;"><a href="#"><img src="../../images/nav-logo.png"/></a></div>
             <ul class="clearfix header-nav-ul">
                <li class="active">
                    <a href="index.htm" target="_self">首页</a>
                </li>
                <li class="$activerecommend">
                    <a href="recommend/index.html" target="_self">云地推介</a>
                </li>
                <li class="$activesell">
                    <a href="transfer/index.html" target="_self">土地转让</a>
                </li>
                <li class="$activetransfer">
                    <a href="project/index.html" target="_self">项目转让</a>
                </li>
                <li class="$activetransfer">
                    <a href="overseas/index.html" target="_self">海外地产</a>
                </li>
                <li class="$activetransfer">
                    <a href="sell/announcement.html" target="_self">土地招拍挂</a>
                </li>
                <li class="$activetransfer">
                    <a href="transfer/index.html" target="_self">需求信息</a>
                </li>
                <li class="$activestatistic">
                    <a href="statistic/index.html" target="_self">云地大数据</a>
                </li>
                <li class="$activetransfer">
                    <a href="information/index.html" target="_self">云地资讯</a>
                </li>
                <li class="$activetransfer">
                    <a href="report/index.html" target="_self">云地报告</a>
                </li>
                 <li class="$activetransfer">
                    <a href="#" target="_self">城市更新</a>
                </li>
             </ul>
        </div>
    </div>
</div>
<!--头部 结束-->
<!-- 内容 -->
<div style="background:#3292de;">
    <div class="content1 con-width auto clearfix">
        <div class="title">云地网 互联网土地市场</div>
        <div class="con-left f-left"><img src="../../images/content-tu6.jpg"/></div>
        <div class="con-right f-right"><img src="../../images/content-bg4.jpg"/></div>
    </div>
</div>
<div>
    <div class="content2 con-width auto clearfix">
        <div class="con-text f-left ml-45">
            <div class="title">您的土地信息在云地网发布后</div>
            <p>&bull; 将有600余位加盟云地网的资深土地经纪人帮您寻找买家。</p>
            <p>&bull; 可以在第一时间，让网站每天在线的10000名有土地需求的会员看到您的土地信息。</p>
            <p>&bull; 网站将会从20000余家有土地需求的开发商企业智能匹配投送您的地块信息。</p>
        </div>
        <div class="service"><img class="f-right" src="../../images/service.jpg"/></div>
    </div>
</div>
<div style="background:#3491de;">
    <div class="content3 con-width auto clearfix">
        <div class="title">云地网金牌信息对接服务专员</div>
        <div class="pl_25"><img src="../../images/commissioner-tu.jpg"/></div>
        <div class="title">土地信息发布方法</div>
        <div class="release">
            <div class="text"><span>方法一：</span>亲爱的用户，在云地网发布土地信息，云地网和云地网的合作伙伴会帮你找到合适买家</br>
                 　　　　　如果你嫌发布土地信息麻烦，可留下您的姓名及电话，我们会帮您人工发布您的土地信息。
            </div>
            <div class="form clearfix">
                <ul>
                   <li>
                      <div>您的姓名</div>
                      <input type="text" value="Your name..."/>
                      <div class="prompt">姓名不能为空</div>
                   </li>
                   <li>
                      <div>您的联系电话</div>
                      <input type="text" value="Your phone nember..."/>
                      <div class="prompt">电话号码不能为空</div>
                   </li>
                   <li>
                      <div>土地类型</div>
                      <select>
                      <option>--请选择用地类型--</option>
                      <option>工业用地</option>
                      <option>住宅用地</option>
                      <option>商业用地</option>
                      <option>其它用地</option>
                      </select>
                      <div class="prompt">用地类型不能为空</div>
                   </li>
                   <li>
                      <input type="button" value="提交" class="button"/>
                   </li>
                </ul>
            </div>
            <div class="text text-second"><span>方法二：</span>如果您想自行发布土地信息，可点击下方“发布土地信息”链接，进入土地发布页面。</div>
            <div class="auto" style="width: 92px; margin-top: 40px; padding-bottom:50px;"><a href="#"><input type="button" value="发布土地信息" class="button" /></a></div>
        </div>
    </div>
</div>
<div style="background: #4283b9;">
    <div class="content4 con-width auto">
      <div class="con-title">全国土地市场动态</div>
      <div class="ann auto">
             <div class="ann-con con-left f-left clearfix">
                 <div class="title title-icon1">今 日</div>
                 <div class="con-text">
                     <p>出让公告: <span>13000</span>条，推出土地 <span>44000</span>宗</p>
                     <p>成交公示: <span>13</span>条，土地成交 <span>44</span>宗</p>
                     <p>签订出让合同和划拨决定书等<span>58</span>份</p>
                 </div>
                 <div class="con-text-bg"></div>
             </div>
             <div class="ann-con con-right f-right clearfix">
                 <div class="title title-icon2">本 月</div>
                 <div class="con-text">
                     <p>出让公告: <span>13</span>条，推出土地 <span>44</span>宗</p>
                     <p>成交公示: <span>13</span>条，土地成交 <span>44</span>宗</p>
                     <p>签订出让合同和划拨决定书等<span>58</span>份</p>
                 </div>
                 <div class="con-text-bg"></div>
             </div>
         </div>
         <div style="position: absolute; top:-50px; left:50px;"><img src="../../images/phone2.png"/></div>
    </div>
</div>
<div class=" con-width auto">
    <div style="margin-left: 50px;">
        <div class="title">云地网部分企业会员</div>
        <div class=" mb_25"><img src="../../images/content-tu7.jpg"/></div>
    </div>
</div>
</body>
</html>
