<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>云推千城</title>
<link href="../../styles/base.css" rel="stylesheet" type="text/css">
<link href="../../styles/landingPage4.css" rel="stylesheet" type="text/css">
</head>

<body>
<!--头部 开始-->
<div id="header">
    <div class="header-welcome">
        <div class="xn-width auto">
            <div class="f-left" style="height: 30px;width: 60%;">
                <span class="f-left">您好 ， 欢迎来到云地，咨询热线：</span>
                <div class="phone">
                    <span class="icon-phone"></span>
                    0571-81902006
                </div>
            </div>
            <div class="f-right column-nav">
                <a class="pr-20" href="http://www.yunland.cn/base/login?v=1.0-SNAPSHOT">登录</a>
                <i class="vertical-line bg-color-1"></i>
                <a class="pr-20" href="http://www.yunland.cn/home/../member/register/step1?v=1.0-SNAPSHOT">注册</a>
                <i class="vertical-line bg-color-1"></i>
                <a href="http://www.yunland.cn/news/informationdetail?type=newComer&amp;v=1.0-SNAPSHOT">新手指引</a>
            </div>
        </div>
    </div>
    <div class="header-nav">
        <div class="xn-width auto clearfix">
             <div class="f-left" style="padding-top: 8px;"><a href="#"><img src="../../images/nav-logo.png"/></a></div>
             <ul class="clearfix header-nav-ul">
                <li class="active">
                    <a href="http://www.yunland.cn/index.htm" target="_blank">首&nbsp;&nbsp;&nbsp;页</a>
                </li>
                <li class="$activerecommend">
                    <a href="http://www.yunland.cn/recommend/index.htm" target="_blank">云地热推</a>
                </li>
                <li class="$activesell">
                    <a href="http://www.yunland.cn/transfer/index.htm" target="_blank">土地转让</a>
                </li>
                <li class="$activetransfer">
                    <a href="http://www.yunland.cn/required/index_required.htm" target="_blank">土地需求</a>
                </li>
                <li class="$activetransfer">
                    <a href="http://www.yunland.cn/sell/announcement.htm" target="_blank">招拍挂</a>
                </li>
                <li class="$activestatistic">
                    <a href="http://www.yunland.cn/statistic/index.htm" target="_blank">云地大数据</a>
                </li>
                <li class="$activetransfer">
                    <a href="http://www.yunland.cn/news/index.htm" target="_blank">云地动态</a>
                </li>
             </ul>
            <div class="column-nav">
                <a class="pr-20" href="http://www.yunland.cn/member/admin/publishresource.htm">合作国土局</a>
                <i class="vertical-line bg-color-2"></i>
                <a href="http://www.yunland.cn/member/admin/publishrequirement.htm" style="margin-left:20px; background:url(../../images/column-nav-icon2.png) no-repeat left center;">合作开发商</a>
            </div>
        </div>
    </div>
</div>
<!--头部 结束-->
<div style="background:url(../../images/thousandcity-bg.jpg) no-repeat center; height:2116px;">
<div class="thousandcity con-width auto">
    <div class="banner"><img src="../../images/thousandcity-banner.png"/></div>
    <div><img src="../../images/thousandcity-title1.png"/></div>
    <div style="margin-top:30px;">　　土地流标流拍是土地过剩信号？土地资源稀缺、土地快速升值是全球趋势，中国作为人口大国，人多地少是基本国情，那么，开发商缘何冷眼观望，犹豫不决不肯拿地？土地策划是关键！  </div>
    <div>　　2016，云地网发起【云推千城】行动，再造土地盛宴！</div>
    <div class="title"><img src="../../images/thousandcity-title2.png"/></div>
    <div>　　云地网团队深谙土地市场，将16年国土信息化服务经验与互联网大数据技术相结合，通过专业的土地包装策划，提升土地投资热度，为政府和开发商之间构建信息桥梁，解决土地招商难题。云地网提供一个覆盖全国的互联网土地交易平台，包括土地一级市场，土地二级市场和农村土地流转。
　　</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们是土地行业的“阿里巴巴”。</div>
    <div class="title"><img src="../../images/thousandcity-title3.png"/></div>
    <div>
        <ul>
           <li class="title-icon title-icon1">专业的服务内容</li>
           <li class="title-icon title-icon3">16年国土资源信息化服务经验  </li>
           <li class="title-icon title-icon2">庞大的云地数据库</li>
           <li class="title-icon title-icon4">业务覆盖全国1000个县市 </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="title" style="margin-top:50px;"><img src="../../images/thousandcity-title4.png"/></div>
    <div class="bottom"><img src="../../images/thousandcity-bottom.png"/></div>
</div>
</div>
</body>
</html>
