<script type="text/javascript" src="$homeContent.getURI('vendor/validate/jquery.validate.js')"></script>
#set($index = 'active')
<div class="xn-relative yunlan-index">
    #if(!$passport)
        <div class="xn-width auto login-head-login    clearfix">
            <div class="xn-top-box">
                <form id="form1" action="member/register/step2">
                    <div class="top-button">
                        <span id="log" class="selected">登录</span>
                        <span>免费注册</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="top-phone">
                    #*<input type="text" placeholder="您的手机号码">*#
                        <span>
                            <input type="text" id="mobilePhone" name="mobilePhone"
                                   placeholder="您的手机号码" pattern=""
                                    />
                        </span>
                        <span id="mobileError" style="display: block;margin-left: 20px;"></span>#*不要删哈*#
                    </div>
                    <div class="top-code">
                    #*<input type="text" placeholder="短信验证码">
                    <button>获取验证码</button>
                    <div class="top-error mt_10">账号有误！</div>*#
                        <span>
                            <input type="text" name="code" id="code"
                                   placeholder="请输入验证码"/>
                            <div class="identifyCode-div" id="getVerifiyCode">获取验证码</div>
                            <div class="clearfix"></div>
                        </span>
                        <span></span>#*不要删哈*#
                    </div>
                    <div class="top-register">
                        <button type="submit">注册</button>
                    </div>
                </form>
                #macro (queryMessage $field)
                    #if (!$field.valid) $field.message #end
                #end
                <form id="form2" method="post">
                    #set ($group = $form.login.defaultInstance)
                    <input type="hidden" name="action" value="login_action"/>

                    <div class="top-button">
                        <span>登录</span>
                        <span id="free-register" class="selected">免费注册</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="top-phone">
                        <input type="text" class="form-control" name="$group.account.key" value="$group.account.value"
                               placeholder="您的账号"/>
                    </div>
                    <div class="top-phone">
                        <input type="password" class="form-control" id="passwordInput" placeholder="您的密码">
                        <input type="password" class="form-control" id="password" name="$group.password.key"
                               value="$group.password.value" placeholder="您的密码" style="display: none;">
                    </div>
                    $!errorMsg
                    <div class="top-error ml-23"> #if($errorMsg) <p style="color: red">$errorMsg</p> #end</div>
                    <div class="clearfix" style="margin:0 20px 10px 20px; clear:both">
                        <input style="line-height: 29px; float: left" class="pl_20" type="checkbox" id="remember" name="$group.remember.key" value="true" / >
                        <div style="float: left;line-height: 29px">记住密码</div>
                        <a href="$baseLink.setTarget('findpassword/step1')" style=" display:inline-block; float: right;line-height: 29px;">忘记密码</a>
                    </div>
                    <div class="top-register mt_10 clearfix">
                        <input type="submit" name="event_submit_do_login" onclick="doLogin()" value="登录"/>
                    </div>
                </form>
            </div>
        </div>
    #end
</div>
<div id="login">
<div class="login-head detail-slider" id="focus">
    <ul>
        #foreach($!bannerimage in $bannerimages)
            <li>
                <a target="_blank" class="picimglink" href="$!bannerimage.url"
                   style="background: url('$!bannerimage.picturePath') center top no-repeat;">

                </a>
            </li>
        #end
    </ul>
##    <div class="clear"/>


    <div class="btnBg  auto clearfix">
        <div class="list-circle">
            #foreach($!bannerimage in $bannerimages)
                <span></span>
            #end
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="xn-width auto middle-content">
<div class="clearfix">
    <div class="yun-dynamic">
        <div class="theme"><a target="_blank" href="news/index">云地动态</a></div>
    </div>
    <div class="theme-line"></div>
    <div class="dynamic-details xn-relative">
        <div class="details-left" id="newsMiddle">
            <ul class="xn-change">
                #foreach($!landnew in $landnews)
                    <li class="clearfix">
                        <div class="img-left">
                            <a target="_blank" href="news/detail?id=$!landnew.id&type=$landnew.type">
                                <img src="$!landnew.picturePath" width="400" height="280">
                                <span class="pic-txt">$!landnew.title</span>
                                <img src="$homeContent.getURI('/images/dynamic-arrow.png')" class="arrow">
                            </a>
                        ##                            <img src="$!landnew.picturePath" class="arrow">
                        </div>
                        <div class="text-right">
                            <h4 style="float:Microsoft YaHei "><a href="news/detail?id=$!landnew.id&type=$landnew.type" target="_blank"
                                   title="$!landnew.title">$!landnew.title</a></h4>

                            #if($!{landnew.remarks.length()} > 100)
                            ##                                        <div class="toShowAllDiv">
                            ##                                            <span class="toShowAll">$!landnew.remarks</span>
                            ##                                            <span class="toShowAll-arrow"></span>
                            ##                                        </div>
                                #set($tempremark=$!landnew.remarks.substring(0,100))
                                <p title="$!landnew.remarks">
                                    $!tempremark ...
                                </p>
                            #else
                                <p>
                                    $!landnew.remarks
                                </p>
                            #end
                        </div>
                        <div class="arrow-right">
                            <a target="_blank" href="news/detail?id=$!landnew.id&type=$landnew.type">
                            ##                                        <img src="$homeContent.getURI('/images/for-more.png')">
                                详情
                            </a>
                        </div>
                    </li>
                #end
            </ul>
            <div class="list-blue">
                #foreach($!landnew in $landnews)
                    <span></span>
                #end
            </div>
        </div>
        <div class="details-right">
            <div class="button-right index-transfer">
                <ul>
                    <li class="select-1 first">最新出让地块</li>
                    <li class="last">最新转让地块</li>
                </ul>
            </div>
            <div class="text-right" id="text1">
                <div class="more clearfix"><a href="sell/index">更多...</a></div>
                #foreach($!landSell in $landSells)
                    #if($velocityCount <6)
                        <div>
                            <img src="$homeContent.getURI('/images/round.jpg')">
                            <a class="text-message" href="sell/selldetail?id=$!landSell.id" target="_blank">
                                <span class="address">
                                    #if($!{landSell.cityName.length()} > 4)
                                        #set($tempcityName=$!landSell.cityName.substring(0,4) )
                                     $tempcityName
                                    #else
                                        $!landSell.cityName
                                    #end
                                </span>

                                <div class="time toShowAllTd">
                                    $!utils.formatMessage("{0, date, yyyy-MM-dd}", $landSell.approveTime)
                                    &nbsp;&nbsp;
                                    #if($!{landSell.name.length()} > 25)
                                        <div class="toShowAllDiv">
                                            <span class="toShowAll">$!landSell.name</span>
                                            <span class="toShowAll-arrow"></span>
                                        </div>
                                        #set($tempname=$!landSell.name.substring(0,25))
                                        $tempname ...
                                    #else
                                        $!landSell.name
                                    #end
                                </div>
                            </a>
                        </div>
                    #end
                #end
            </div>
            <div class="text-right" id="text2">
                <div class="more clearfix"><a href="transfer/index">更多...</a></div>
                #foreach($!landSupply in $landSupplys)
                    #if($velocityCount <6)
                        <div>
                            <img src="$homeContent.getURI('/images/round.jpg')">
                            <a href="transfer/supplydetail?id=$!landSupply.id" target="_blank">
                                <div class="text-message">
                                    <span class="address">
                                         #if($!{landSupply.cityName.length()} > 4)
                                             #set($tempcityName=$!landSupply.cityName.substring(0,4) )
                                             $tempcityName
                                         #else
                                             $!landSupply.cityName
                                         #end
                                    </span>
                                            <span class="time toShowAllTd">
                                                $!utils.formatMessage("{0, date, yyyy-MM-dd}", $landSupply.approveTime)
                                                &nbsp;&nbsp;
                                                #if($!{landSupply.name.length()} > 25)
                                                    <div class="toShowAllDiv">
                                                        <span class="toShowAll">$!landSupply.name</span>
                                                        <span class="toShowAll-arrow"></span>
                                                    </div>
                                                    #set($templandSupplyname=$!landSupply.name.substring(0,25))
                                                    $!templandSupplyname ...
                                                #else
                                                    $!landSupply.name
                                                #end
                                            </span>
                                </div>
                            </a>
                        </div>
                    #end
                #end
            </div>
        </div>
    </div>
</div>
<div class="clearfix hot-topic">
    <div class="yun-dynamic">
        <div class="theme">
            <a target="_blank" href="recommend/index">热门土地</a>
            <span class="more"><a href="recommend/index" target="_blank"
                                  style="color: #999999;font-size: 16px;float: right;margin-top: 4px;">更多...</a></span>
        </div>
    </div>
    <div class="theme-line"></div>
    <!-- 代码 开始 -->
    <div class="wrapper top-main clearfix">
        <div class="main tab">
            <!--切换图片-->
            <div class="slide" id="trippleSlider">
                <div id="trippleArrowLeft" class="arrow-left"></div>
                <div id="trippleArrowRight" class="arrow-right"></div>
                <ul id="bigSlideUl" class="slide-ul clearfix">
                    #foreach($!recommendCity in $!recommendCitys)
                        #if($velocityCount <7 && $velocityCount%3==0)
                            <li class="index-tip">
                                <div class="tip" >
                                    <span class="header-title f-left">&nbsp;&nbsp;&nbsp;&nbsp;$!recommendCity.cityName</span>
                                    <span class=" f-right con-text">共有$!recommendCity.recommendCounts 宗土地推介信息</span>
                                </div>
                                <a target="_blank" class="picimglink" href="recommend/indexDetail?id=$!recommendCity.id">
                                    <img width="383.333" height="215" src="$!recommendCity.picturePath"
                                         alt="$!hotbuttom.name"/>
                                   #* <span class="pic-txt">热门土地</span>*#
                                </a>
                            </li>
                        #elseif($velocityCount <7)
                            <li class="mr-10 index-tip">
                                <div class="tip" >
                                    <span class="header-title f-left">&nbsp;&nbsp;&nbsp;&nbsp;$!recommendCity.cityName</span>
                                    <span class=" f-right con-text">共有$!recommendCity.recommendCounts 宗土地推介信息</span>
                                </div>
                                <a target="_blank" class="picimglink" href="recommend/indexDetail?id=$!recommendCity.id">
                                    <img width="383.333" height="215" src="$!recommendCity.picturePath"
                                         alt="热门土地"/>
                                   #* <span class="pic-txt">热门土地</span>*#
                                </a>
                            </li>
                        #end
                    #end

                </ul>
            </div>
            <!--slide 切换按钮-->
        #*<ul id="smallSlideUl" class="info-btn clearfix">
            #foreach($!hotbuttom in $!hotbuttoms)
                #if($velocityCount%3==1)
                    #set($index = $velocityCount/3)
                     <li id="mypic$index" sid="$index"><span>$index</span></li>
                #end
             #end
        </ul>*#
        </div>

    </div>
</div>
<div class="clearfix">
    <div class="yun-dynamic">
        <div class="theme"><a target="_blank" href="sell/index">土地出让</a></div>
    </div>
    <div class="theme-line"></div>
    <div class="dynamic-details">
        <ul class="transfer">
            <li class="click new">最新地块</li>
            <li class="result">成交结果</li>
            <li class="notices">政府公告</li>
        </ul>
        <div id="table1">
            <table cellpadding="0" cellspacing="0">
                <thead>
                <tr>
                    <th #*class="xn-col-sm-3"*# style="width: 70px;">图片</th>
                    <th #*class="xn-col-sm-9"*# style="width: 270px;">地块名称</th>
                    <th #*class="xn-col-sm-6"*# style="width: 190px;">位置</th>
                    <th #*class="xn-col-sm-6"*# style="width: 170px;">面积（万平方米）</th>
                    <th #*class="xn-col-sm-6"*# style="width: 110px;">用途</th>
                    <th #*class="xn-col-sm-6"*# style="width: 110px;">出让方式</th>
                    <th #*class="xn-col-sm-6"*# style="width: 110px;">出让期限</th>
                    <th #*class="xn-col-sm-6"*# style="width: 140px;">截止时间</th>
                </tr>
                </thead>
                <tbody>
                    #foreach($!landSell in $landSells)
                    <tr>
                        <td>
                            <div class="img">
                                <img src="$!landSell.picturePath" width="40" height="40">
                            </div>
                        </td>
                        <td>
                            <a class="toShowAllTd" href="sell/selldetail?id=$!landSell.id" target="_blank">
                                #if($!{landSell.name.length()} > 25)
                                    <div class="toShowAllDiv">
                                        <span class="toShowAll">$!landSell.name</span>
                                        <span class="toShowAll-arrow"></span>
                                    </div>
                                    #set($tempsellname=$!landSell.name.substring(0,25))
                                    $!tempsellname ...
                                #else
                                    $!landSell.name
                                #end
                            </a>
                        </td>
                        <td>$!landSell.landLocation</td>
                        <td>$landSell.floorSpace</td>
                        <td>$!selectLandPurpose.get($!landSell.planUse)</td>
                        <td>$!selectNoticeType.get($!landSell.sellWay)</td>
                        <td>$!landSell.sellYear 年</td>
                        <td>$!utils.formatMessage("{0, date, yyyy年MM月dd日}", $!landSell.endTime) </td>
                    </tr>
                    #end
                </tbody>
            </table>
        </div>

        <div id="table2">
            <table cellpadding="0" cellspacing="0">
                <thead>
                <tr>
                    <th class="xn-col-sm-8">地块名称</th>
                    <th class="xn-col-sm-8">位置</th>
                    <th class="xn-col-sm-6">面积（万平方米）</th>
                    <th class="xn-col-sm-6">用途</th>
                    <th class="xn-col-sm-5">出让方式</th>
                    <th class="xn-col-sm-5">土地使用人</th>
                    <th class="xn-col-sm-4">成交总价</th>
                    <th class="xn-col-sm-6">合同签订日期</th>
                </tr>
                </thead>
                <tbody>
                    #foreach($!landresult in $!landResults)
                    <tr>
                    #*<td><a href="sell/resultdetail?id=$!landresult.id" target="_blank">$!landresult.name</a>
                    </td>*#
                        <td>
                            <a class="toShowAllTd" href="sell/resultdetail?id=$!landresult.id" target="_blank">
                                #if($!{landresult.name.length()} > 25)
                                    <div class="toShowAllDiv">
                                        <span class="toShowAll">$!landresult.name</span>
                                        <span class="toShowAll-arrow"></span>
                                    </div>
                                    #set($tempresultname=$!landresult.name.substring(0,25))
                                    $!tempresultname ...
                                #else
                                    $!landresult.name
                                #end
                            </a>
                        </td>
                        <td>$!landresult.address</td>
                        <td>$!landresult.totalArea</td>
                        <td>$!selectLandPurpose.get($!landresult.planUse)</td>
                        <td>$!selectSellMethod.get($!landresult.supplyType)</td>
                        <td>$!landresult.user</td>
                        <td>$!landresult.money</td>
                        <td>$!utils.formatMessage("{0, date, yyyy年MM月dd日}", $!landresult.sigingDate) </td>
                    </tr>
                    #end
                </tbody>
            </table>
        </div>
        <div id="table3" class="forNotice">
            <table cellpadding="0" cellspacing="0">
                <thead>
                <tr>
                    <th class="xn-col-sm-12">行政区域</th>
                    <th class="xn-col-sm-24">标题</th>
                    <th class="xn-col-sm-6">公告类型</th>
                    <th class="xn-col-sm-6">公告时间</th>
                </tr>
                </thead>
                <tbody>
                    #foreach($!LandPublicity in $landPublicities)
                    <tr>
                        <td>$!LandPublicity.provinceName$!LandPublicity.cityName$!LandPublicity.districtName</td>
                        <td style="text-align: left;">
                            <a href="sell/announcementdetail?id=$!LandPublicity.id"
                               target="_blank">$!LandPublicity.title</a>
                        </td>
                        #if($!LandPublicity.type=='GDJH')
                            #set($ttype = '供地计划')
                        #elseif( $!LandPublicity.type=='CRGG')
                            #set($ttype = '出让公告')
                        #elseif( $!LandPublicity.type=='CJGS')
                            #set($ttype = '成交公示')
                        #elseif( $!LandPublicity.type=='JGGS')
                            #set($ttype = '结果公示')
                        #else
                            #set($ttype = '其他')
                        #end
                        <td>$ttype</td>
                        <td>$!utils.formatMessage("{0, date, yyyy年MM月dd日}", $!LandPublicity.approveTime)</td>
                    </tr>
                    #end
                </tbody>
            </table>
        </div>
        <div class="advertisement">
            <div id="slider1" class="slider" style="left:0px; top:0px; right:0px;">
                <ul class="sliderContent">
                    #foreach($!sellbuttom in $!sellbuttoms)
                        <li class="sliderImage">
                            <a href="$!sellbuttom.url" target="_blank"><img src="$!sellbuttom.picturePath"
                                                                            width="100%"
                                                                            height="150"
                                                                            alt="$!sellbuttom.name"></a>
                        </li>
                    #end
                    <div class="clear sliderImage"></div>
                </ul>
            </div>
        </div>

    </div>
</div>
<div class="clearfix">
    <div class="yun-dynamic">
        <div class="theme"><a target="_blank" href="transfer/index">土地转让</a></div>
    </div>
    <div class="theme-line"></div>
    <div class="dynamic-details">
        <div class="details-top">
            <div class="title clearfix">
                <span>土地供应</span>
                <span class="more"><a href="transfer/index" target="_blank">更多...</a></span>
                <a href="member/admin/publishresource" target="_blank">
                    <img src="$homeContent.getURI('/images/land.png')" class="release-land">
                    <img src="$homeContent.getURI('/images/landclick.png')" id="land-none"></a>
            </div>
            <div class="clearfix"></div>
            <ul class="supply">
                #foreach($!landSupply in $landSupplys)
                    #if($velocityCount <9 && $velocityCount%4==0)
                        <li class="shadow$velocityCount">
                            <div class="index-img-con">
                                <div class="tip mt_10">
                                    <span class="header-title f-left">供</span>
                                    <span class=" f-right con-text">
                                        区域：$!landSupply.provinceName/$!landSupply.cityName/$!landSupply.districtName <br/>
                                        面积：$!landSupply.floorSpace 万平方米  用途：$!selectPurpose.get($!landSupply.planUse)
                                    </span>
                                </div>
                                <a target="_blank" href="transfer/supplydetail?id=$!landSupply.id">
                                <img src="$!landSupply.picturePath" width="285" height="160">
                                <img src="$homeContent.getURI('/images/move.png')" class="move" id="move-none">
                                </a>
                            </div>
                                #*<div class="more-text">
                                    <h4>$!landSupply.name</h4>

                                    <p>区域:$!landSupply.provinceName/$!landSupply.cityName
                                        /$!landSupply.districtName</p>

                                    <p>面积:$!landSupply.floorSpace 万平方米</p>

                                    <p>用途:$!selectLandPurpose.get($!landSupply.planUse)</p>
                                </div>*#

                        </li>
                    #elseif($velocityCount <9)
##                        <li class="mr-10 shadow$velocityCount" onmouseover="shadowEnter('shadow$velocityCount')"
##                            onmouseout="shadowLeave('shadow$velocityCount')">
                        <li class="mr-10 shadow$velocityCount">
                            <div class="index-img-con">
                                <div class="tip mt_10">
                                    <span class="header-title f-left">供</span>
                                    <span class=" f-right con-text">
                                        区域：
                                        $!landSupply.provinceName
                                        #if($!landSupply.cityName == "-请选择市-")
                                        #else
                                            /
                                        #end
                                        $!landSupply.cityName.replace("-请选择市-","")
                                        #if($!landSupply.districtName == "-请选择区-")
                                        #else
                                            /
                                        #end
                                        $!landSupply.districtName.replace("-请选择区-","")
                                        <br/>
                                        面积：$!landSupply.floorSpace 万平方米  用途：$!selectPurpose.get($!landSupply.planUse)
                                    </span>
                                </div>
                                <a target="_blank" href="transfer/supplydetail?id=$!landSupply.id">
                                <img src="$!landSupply.picturePath" width="285" height="160">
                                <img src="$homeContent.getURI('/images/move.png')" class="move" id="move-none">
                                    </a>
                            </div>
                        </li>
                    #end
                #end
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="details-bottom mt_10">
            <div class="title clearfix">
                <span>土地需求</span>
                <span class="more"><a href="transfer/index" target="_blank">更多...</a></span>
                <a target="_blank" href="member/admin/publishrequirement">
                    <img src="$homeContent.getURI('/images/demand.png')" class="release-demand">
                    <img src="$homeContent.getURI('/images/demandclick.png')" id="demand-none">
                </a>
            </div>
            <table cellpadding="0" cellspacing="0">
                <thead>

                <tr>
                    <th style="width: 70px;">图片</th>
                    <th style="width: 280px;">需求描述</th>
                    <th style="width: 200px;">地区</th>
                    <th style="width: 150px;">需求面积(万平方米)</th>
                    <th style="width: 110px;">使用年限</th>
                    <th style="width: 140px;">规划用途</th>
                    <th style="width: 110px;">预算金额</th>
                    <th style="width: 110px;">合作方式</th>
                </tr>
                </thead>
                <tbody>
                    #foreach($!landDemand in $landDemands)
                    <tr>
                        <td>
                            <div class="img">
                                <img src="$homeContent.getURI('/images/default/demand-default.png')" width="40px"
                                     height="40px">
                            </div>
                        </td>
                        <td>
                            <a class="toShowAllTd" target="_blank" href="transfer/requiredetail?id=$!landDemand.id">
                                #if($!{landDemand.title.length()} > 25)
                                    <div class="toShowAllDiv">
                                        <span class="toShowAll">$!landDemand.title</span>
                                        <span class="toShowAll-arrow"></span>
                                    </div>
                                    #set($tempDemandtitle=$!landDemand.title.substring(0,25))
                                    $!tempDemandtitle ...
                                #else
                                    $!landDemand.title
                                #end
                            </a>
                        </td>
                        <td>$!landDemand.provinceName
                            #if($!landDemand.cityName == "-请选择市-")
                                #else
                                    /
                            #end
                            $!landDemand.cityName.replace("-请选择市-","")
                            #if($!landDemand.districtName == "-请选择区-")
                                #else
                                    /
                            #end
                            $!landDemand.districtName.replace("-请选择区-","")
                        </td>
                        <td>$!landDemand.demandArea </td>
                        <td>$!landDemand.year 年</td>
                        <td>$!selectPurpose.get($!landDemand.planUse)</td>
                        <td>
                            #if($!landDemand.amount)
                                $!landDemand.amount
                            #else
                                    面议
                            #end
                        </td>
                        <td>$!selectCollaborateMethod.get($!landDemand.cooperationMode)</td>
                    </tr>
                    #end
                </tbody>
            </table>
            <div class="advertisement">
                <div id="slider2" class="slider" style="left:0px; top:0px; right:0px;">
                    <ul class="sliderContent">
                        #foreach($!transferbuttom in $!transferbuttoms)
                            <li class="sliderImage">
                                <a href="$!transferbuttom.url" target="_blank"><img
                                        src="$!transferbuttom.picturePath"
                                        width="100%" height="150"
                                        alt="$!transferbuttom.name"></a>
                            </li>
                        #end
                        <div class="clear sliderImage"></div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="bottom-banner">
    <div class="xn-width auto">
        <img src="$homeContent.getURI('/images/introduction.png')">
    </div>
</div>
</div>
<script type="text/javascript" src="$baseContent.getURI('scripts/controllers/login.js')"></script>
<script type="text/javascript" src="$baseContent.getURI('scripts/md5/md5.js')"></script>

<script type="text/javascript">
    function browserRedirect() {
        var sUserAgent = navigator.userAgent.toLowerCase();
        var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
        var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
        var bIsMidp = sUserAgent.match(/midp/i) == "midp";
        var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
        var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
        var bIsAndroid = sUserAgent.match(/android/i) == "android";
        var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
        var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
        if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
            window.location.href = '$mobileContent.getURI("/index")';
        }
    }
    $(function () {
        //广告位置图片切换
        $('#slider1').s3Slider({
            timeOut: 5000
        });
        $('#slider2').s3Slider({
            timeOut: 5000
        });
        $(".toShowAllTd").hover(function () {
            $(this).find('div').show();
        }, function () {
            $(this).find('div').hide();
        });
        browserRedirect();
    });

    //信息hover显示
//    $(function(){
//
//        $(".index-img-con").find(".tip").css("display","none");
//        $(".supply li").hover(function(){
//            var indexli= $(this).index();
//            $(this).find(".tip").show().siblings().find(".tip").hide();
//        },function(){
//            $(".index-img-con").find(".tip").css("display","none");
//        });
//    })


</script>