<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>云地出让-新增政府公告</title>
<link rel="Shortcut Icon" href="http://www.yunland.cn/yunland/images/favicon.ico"  type="image/x-icon"  >
<link href="../../../dist/styles/global.min.css" rel="stylesheet">
<link href="../../../dist/styles/local.min.css" rel="stylesheet">
</head>

<body>

<script type="text/javascript">
    var selectModel = [
                    {id:"GDJH",name:'供地计划'},
                    {id:"CRGG",name:'出让公告'},
                    {id:"CJGS",name:'成交公示'},
                    {id:"JGGS",name:'结果公示'},
            ]
</script>

<div class="xn-breadcrumb auto  xn-width clearfix ">
    <ul class="breadcrumb">
        <li><a class="icon icon-home_page" href="$yunlandLink.setTarget("index")"></a></li>
        <li><a href="$yunlandLink.setTarget("sell/index")">土地出让</a></li>
        <li class="active">新增政府公告</li>
    </ul>
</div>

<div class="xn-main  auto xn-width  clearfix" id="main" ng-controller="AddPublicityController">
    <form class="form-horizontal xn-form" role="form" xn-form-validate novalidate name="validateForm">
        <div class="xn-edit  recommend-editContent clearfix">
            <div class="edit-content">
                <div class="xn-input-line  clearfix label-long">
                    <label class="xn-label"><span class="f-right">类型：</span><i
                            class="xn-required-i f-right"></i></label>
                    <div class="xn-input-sm">
                        <div xn-filter-select data-select-data="selectPublicityType" ng-model="land.type" name="type" required="required"></div>
                    </div>
                    <div class="tip"></div>
                    <label class="xn-label"><span class="f-right">标题：</span><i
                            class="xn-required-i f-right"></i></label>
                    <div class="xn-input-sm">
                        <input type="text" class="form-control"
                               name="title" ng-model="publicity.title" required>
                    </div>
                </div>
                <div>
                    <div class="xn-input-line  clearfix">
                        <label class="xn-label"><span class="f-right">位置：</span></label>
                        <div class="xn-input-lg">
                            <div xn-location ng-model="land.address" data-city-id="{{land.address}}"  address=false></div>
                        </div>
                    </div>
                    <div class="xn-input-line  clearfix">
                        <div >
                            <input type="hidden" class="form-control"
                                   name="coordinate" ng-model="land.coordinate" >
                        </div>
                    </div>
                    <div class="xn-input-line  clearfix" style="display: none">
                        <div class="map-content">
                            <div id="allmap"></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="xn-input-line  clearfix">
                        <label class="xn-label"><span class="f-right">详细介绍：</span></label>
                        <div class="map-content">
                            <textarea class="form-control" rows="15" name="sellIntro" id="sellIntro" ng-model="publicity.content"
                                    ></textarea>
                        </div>
                    </div>
                </div>

                <div class="xn-input-line clearfix" ng-show="validateForm.$errors.length > 0 ">
                    <div class="alert alert-danger"><i class="glyphicon glyphicon-remove-sign mr_5"
                                                       ng-click="closeAlert(0,validateForm.$errors)"></i>{{validateForm.$errors[0]}}
                    </div>
                </div>
            </div>
        </div>
        <div class="mb_20 clearfix">
            <button  class="btn btn-primary col-md-2 col-sm-offset-2" xn-form-submit="doSave()">保存</button>
            <button  class="btn btn-warning col-md-2 col-sm-offset-1" xn-form-submit="doPublish()">发布</button>
            <a href="javascript:history.back(-1)"  class="btn btn-default col-md-2 col-sm-offset-1">取消</a>
        </div>
    </form>
</div>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=UoGBFm6G6iI6rYiF9uc9NpST"></script>

<div id="footer" class="xn-width auto clearfix">
    <span>浙江臻善科技有限公司</span><br/>
    <span>浙ICP备06018569号-2</span><br/>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253874607'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1253874607%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</div>

<!-- 引用服务站点的JS文件 -->

<div class="xn-back-to-top"   data-feedback-url=$config.getServiceUrl("feedback/create.htm")>
</div>
    <div xn-nprogress></div>

</body>
<script src="../../../dist/scripts/base.min.js"></script>
<script src="../../../dist/scripts/global.min.js"></script>
<script src="../../../dist/scripts/local.min.js"></script>
<script type="text/javascript" src="../../../vendor/kindeditor/kindeditor-all-min.js"></script>
<script type="text/javascript">
    /*犀牛ng-app的运用*/
    angular.element(document).ready(function() {
        initApp();
        angular.bootstrap(document.body, ['xn']);
    });
    var uploadjson =  'http://www.yunland.cn/base/fileUploadJson.do';
    var uploadmamagerjson = 'http://www.yunland.cn/base/fileUploadManager.do';
</script>
</html>
