@base-color: #cdcdcd;
/*导航*/
.xn-nav-2 {
  height: 62px;
  background: #6d9fe1;
  width: 100%;
  position: relative;
}

.xn-nav-2 .xn-logo{
  float: left;
  width: 19%;
  height: 62px;
  overflow: hidden;
  margin: 0;
  background: #4a89dc;
}
.xn-nav-2 .xn-logo a {
  width: 100%;
  height: 100%;
  float: left;
  padding: 0 6%;
}
.xn-nav-2 .inner_div .info_div .app_div{
  float: left;
  padding-top: 10px;
}
.xn-nav-2 .inner_div .info_div .app_div i{
  color: #fff;
  height: 38px;
  line-height: 38px;
  font-size: 20px;
}
.xn-nav-2 .title-ul{
  float: left;
  padding: 10px 2%;
  width: 60%;
}
.xn-nav-2 .title-ul li:nth-child(n+2) {
  margin-left: 5%;
}
.xn-nav-2 .title-ul a {
  margin-top: 1px;
  line-height: 38px;
  height: 40px;
  color: #fff;
  font-size: 16px;
  display: inline-block;
  padding:0;
}
.xn-nav-2 .title-ul .nav-li>a:hover {
  color:#4a89dc;
}
.xn-nav-2 .hideSetting{
  position: absolute;
  right: 0px;
  z-index: 1002;
  width: 250px;
  margin-right: 25px;
  overflow: hidden;
}
#nav {
  height: 62px;
  width:100%;
}
.xn-nav-2 .inner_div .title-ul .nav-li-hover>a {
  color:#333333;
}
.xn-nav-2 .inner_div .xn-logo>a {
  width: 100%;
  height: 100%;
  float: left;
}
.xn-nav-2 .inner_div .xn-logo>a>.logo-title{
  width: 100%;
  height: 100%;
  background: url(images/logo.png)7px 11px no-repeat;
}
.xn-nav-2 .inner_div .xn-logo>a>.logo-title .logo-title-word{
  display: block;
  color: #fff;
  margin-left: 105px;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 500;
}
.xn-nav-2 .inner_div .xn-header-right .app_div a {
  text-decoration: none;
}
.xn-nav-2 .inner_div .setting_dialog {
  position: absolute;
  margin-top: 50px;
  margin-left: 200px;
  width: 650px;
  height: auto;
  z-index: 100;
}
.xn-nav-2 .inner_div .setting_dialog .close {
  margin-right:10px;
}
.xn-nav-2 .inner_div .setting_dialog .hideSetting-top {
  height: 12px;
  background: url("./images/head.png") -900px top no-repeat;
  width: 25px;
  margin-left: 35px;
  overflow: hidden;
}
.xn-nav-2 .inner_div .setting_dialog .content{
  background: #ffffff;
  width: 100%;
  height: 100%;
  border-left: solid 1px #cdcdcd;
  border-right: solid 1px #cdcdcd;
  border-bottom: solid 1px #cdcdcd;
  box-shadow: 1px 2px 2px #ccc;
  -webkit-box-shadow: 1px 2px 2px #ccc;
}
.xn-nav-2 .inner_div .setting_dialog .content ul li a{
  padding:0;
  line-height: 30px;
  /*width: 100%;*/
  color:#999999;
  text-decoration: none;
  font-size: 14px;
  height: 30px;
  display: inline-block;
}
.xn-nav-2 .inner_div .setting_dialog .content ul li a:hover {
  background: #6d9fe1;
  opacity: 0.8;
  color: white;
  border-radius: 4px;
}
.xn-nav-2 .inner_div .setting_dialog .content .content_inner_first {
  width: 100%;

  padding: 10px;
}
.xn-nav-2 .inner_div .setting_dialog .content .content_inner_first .first_content {
  width: 100%;

  padding-top: 20px;
  padding-bottom:10px;
  border-bottom: solid 1px #cdcdcd;
}
.xn-nav-2 .inner_div .setting_dialog .content .content_inner_first .content-list {

  padding-top: 0px;
  border-bottom:none;
}
.xn-nav-2 .inner_div .setting_dialog .content .content_inner_first .first_content .first_content_left {
  width: 20%;
  float:left;
  font-size:16px;
}
.xn-nav-2 .inner_div .setting_dialog .content .content_inner_first .first_content .first_content_left .header{
  padding: 0 10px;
  border-right: solid 2px #b3ccec;
  height: 30px;
}
.xn-nav-2 .inner_div .setting_dialog .content .content_inner_first .first_content .first_content_left .header>a {
  text-decoration: none;
}
.xn-nav-2 .inner_div .setting_dialog .content .content_inner_first .first_content .first_content_left .header>a:hover {
  color: #4a89dc;
}
.xn-nav-2 .inner_div .setting_dialog .content .content_inner_first .first_content .first_content_left .header>a>i{
  margin-right:20px;
  font-size: 20px;
}
.xn-nav-2 .inner_div .setting_dialog .content .content_inner_first .first_content .first_content_right {
  float: left;
  width: 80%;
  line-height: 30px;
  color:#999999;
  font-size:14px;
  padding-left: 20px;
}
.xn-nav-2 .inner_div .setting_dialog .content .content_inner_first .first_content .first_content_right ul{
  float:left;
  height: auto;
  width:100%;

}
.xn-nav-2 .inner_div .setting_dialog .content .content_inner_first .first_content .first_content_right ul li{
  float:left;
  height:30px;
  width: 33.3333%;

}
.xn-nav-2 .inner_div .xn-header-right{
  position: relative;
  width: 240px;
}
.xn-nav-2 .inner_div .xn-header-right .xn-message {
  margin: 15px 0px 0 0;
}
.xn-nav-2 .inner_div .xn-header-right .xn-name {
  padding-top: 5px;
}
.xn-nav-2 .inner_div .xn-header-right .xn-name a {
  line-height:50px;
}
.xn-nav-2 .inner_div .xn-header-right .avatar {
  margin-top: 8px;
}

//header中LOGO样式
/*.xn-asset{
  background: url(images/xn-financialAsset.png)left 15px no-repeat;
}*/

//二级菜单
.xn-nav-2 .dropdown ul{
  height: auto;
}
.xn-nav-2 .dropdown-menu{
  position: absolute;
  top: 35px;
  left: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
}
.xn-nav-2 .dropdown-menu li{
  float: none;
  height: 30px;
}
.xn-nav-2 .dropdown-menu li:nth-child(n+2){
  margin-left: 0px;
}
.xn-nav-2 ul>li.dropdown .dropdown-menu li a{
  display: block;
  cursor: pointer;
  color: #333;
  height: 30px;
  padding-left: 5px;
}

/*导航*/

/*公共*/
.mr_90{
  margin-right: 90px;
}
.btw-100{
  .btn{
    width: 100px;
  }
}
.w_47p{width:47%;}

.date-midline{
  width: 6%;
  float: left;
  line-height: 30px;
  text-align: center;
}
.xn-word-breakAll{
  word-break: break-all;
}
/*公共*/

/*新增云地动态*/
.news-editContent{
  width: 80%;
  border: solid 1px @base-color;
  margin: 0 auto;
  background-color: #fff;
  padding-bottom: 20px;
  .form-control {
    width: 100%;
  }
}
.news-btnArea{
  margin: 40px 160px;
  .news-btn{
    width: 60px;
  }
}
.news-error{
  width: 70%;
  margin-left: 120px;
}
.news-summary{
  width: 70%;
}
/*新增云地动态*/

/*土地推介*/
.recommend-editContent{
  position: relative;
  .multiple-file{
    .xn-upload-img{
      padding-left: 100px;
    }
    .xn-upload-img li {
      float: left;
    }
  }
  .xn-upload-img li {
    border: 1px solid #dcdcdc;
    float: none;
    width: 180px;
    height: 110px;
    padding: 10px;
    margin: 0 auto;
    position: relative;
    color: #dcdcdc;
    text-align: center;
    cursor: pointer;
    .icon-add {
      font-size: 35px;
      line-height: 40px;
      color: #dcdcdc;
      text-align: center;
      margin: 0 auto;
    }
    .upload-add-title {
      margin-top: 15px;
    }
  }
  .xn-upload-img{
    .imgFile{
      width: 234px;
      height: 110px;
      cursor: pointer;
      margin: 0 auto;
      display: block;
    }
  }
  .xn-upload-img-small{
    .imgFile{
      width: 330px;
      height: 250px;
      cursor: pointer;
      margin: 0 auto;
      display: block;
    }
  }
  .xn-upload-img-header{
    .imgFile{
      width: 595px;
      height: 250px;
      cursor: pointer;
      margin: 0 auto;
      display: block;
    }
  }
  .recommend-editContent-h4{
    line-height: 21px;
    margin:20px 0px 20px 35px;
    padding-left: 15px;
    height: 21px;
    border-left: 2px solid #4a81c3;
    .recommend-size{
      margin-left: 20px;
      font-size: 14px;
      color: #cdcdcd;
    }
  }
  .recommend-editContent-top{
    width: 100%;
  }
  .map-content{
    margin: 0 100px;
  }
  #allmap{
    width:100%;
    height:400px;
  }
}
.advertise-editContent{
  .xn-upload-img li {
    border: 1px solid #dcdcdc;
    float: none;
    width: 180px;
    height: 110px;
    padding: 10px;
    margin-left: 190px;
    position: relative;
    color: #dcdcdc;
    text-align: center;
    cursor: pointer;
    .icon-add {
      font-size: 35px;
      line-height: 40px;
      color: #dcdcdc;
      text-align: center;
      margin: 0 auto;
    }
    .upload-add-title {
      margin-top: 15px;
    }
  }
  .xn-upload-img{
    .imgFile{
      width: 234px;
      height: 120px;
      cursor: pointer;
      margin-left: 190px;
      display: block;
    }
  }
}

/*土地推介*/

/*土地出让*/
.land-title{
  width: 100%;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 40px;
}
/*土地出让*/

/*会员*/
.long-label{
  width: 25%;
  margin-right: 25px;
}
/*会员*/

/*修改密码*/
.main-password{
  width: 200px;
  margin-left:auto;
  margin-right:auto;
}
/*修改密码*/

.label-long .xn-label{
  width: 167px;
  margin-left: -1px;
}
.land-recommend-list {
  width: 100%;
}
.land-recommend-tab-title{
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-bottom: 2px solid #ff7a29;
  font-size: 16px;
  position: relative;
}
.position-relative{
  position: relative;
}
.position-relative ul{
  position: absolute;
  left: 0;
  top: -1px;
  width: 100%;
}
.position-relative ul li{
  padding: 0 20px;
  border:1px solid #dcdcdc;
  float: left;
  border-bottom: none;
}
.position-relative .on{
  background: #ff7a29;
  color: #fff;
}
.land-recommend-tab-con{
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #dcdcdc;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 300px;
}

.land-detail{
  height: 100%;
}