<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    #showTitle("云地网")
    <meta name="keywords" content="$constants.keywords()" />
    <meta name="description" content="$constants.description()">
    <metahttp-equiv ="X-UA-Compatible" content="IE=8"><!--以IE8模式渲染-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="Shortcut Icon" href="$homeContent.getURI('images/favicon.ico')" type="image/x-icon">

    <link rel="stylesheet" href="$homeContent.getURI('styles/base.css')"></link>
    <link rel="stylesheet" href="$homeContent.getURI('styles/index.css')"></link>
    <link rel="stylesheet" href="$homeContent.getURI('styles/other.css')"></link>
    <link rel="stylesheet" href="$homeContent.getURI('styles/member.css')"></link>
    <link rel="stylesheet" href="$homeContent.getURI('styles/list.css')"></link>
    <link rel="stylesheet" href="$homeContent.getURI('styles/manhuaDate.1.0.css')"></link>
    <link rel="stylesheet" href="$homeContent.getURI('vendor/mmgrid/mmGrid.css')">
    <link rel="stylesheet" href="$homeContent.getURI('vendor/mmgrid/theme/bootstrap/mmGrid-bootstrap.css')">
    <link rel="stylesheet" href="$homeContent.getURI('vendor/mmgrid/mmPaginator.css')">
    <link rel="stylesheet" href="$homeContent.getURI('vendor/pagination/pagination.css')">
    <link rel="stylesheet" href="$homeContent.getURI('vendor/s3Slider/styles.css')">
    <link rel="stylesheet" href="$homeContent.getURI('vendor/p3Slider/zsucai.css')">
    <script  type="text/javascript"  src="$homeContent.getURI('scripts/jquery.min.js')"></script>
    <script  type="text/javascript"  src="$homeContent.getURI('scripts/jsAddress.js')"></script>
</head>
<body>
    $control.setTemplate("home:header")
    $screen_placeholder

###set($about = $pageInfo.get("623439392282906624"))
###set($contact = $pageInfo.get("623008912471363584"))
</body>

<script  type="text/javascript"  src="$homeContent.getURI('scripts/index.js')"></script>
<script  type="text/javascript"  src="$homeContent.getURI('scripts/site.js')"></script>
<!-- 日期控件 -->
<script type="text/javascript" src="$homeContent.getURI('vendor/My97DatePicker/WdatePicker.js')"></script>
<script type="text/javascript" src="$homeContent.getURI('scripts/datejs.js')"></script>
<script type="text/javascript" src="$homeContent.getURI('scripts/ui.tab.js')"></script>
<script type="text/javascript"  src="$homeContent.getURI('vendor/mmgrid/plugins.js')"></script>
<script type="text/javascript"  src="$homeContent.getURI('vendor/mmgrid/json2.js')"></script>
<script type="text/javascript"  src="$homeContent.getURI('vendor/mmgrid/mmGrid.js')"></script>
<script type="text/javascript"  src="$homeContent.getURI('vendor/mmgrid/mmPaginator.js')"></script>
<script  type="text/javascript"  src="$homeContent.getURI('scripts/index.js')"></script>
<script type="text/javascript" src="$homeContent.getURI('vendor/pagination/jquery.pagination.js')"></script>
<script type="text/javascript" src="$homeContent.getURI('vendor/s3Slider/s3Slider.js')"></script>
<script type="text/javascript" src="$homeContent.getURI('vendor/p3Slider/zsucai.js')"></script>
</html>