<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>情报站</title>
<link rel="stylesheet" type="text/css" href="../../../styles/base.css"/>
<link rel="stylesheet" type="text/css" href="../../../styles/index.css"/>
<link rel="stylesheet" type="text/css" href="../../../styles/other.css"/>
<link rel="stylesheet" type="text/css" href="../../../styles/member.css"/>
<link rel="stylesheet" type="text/css" href="../../../styles/list.css"/>
<link rel="stylesheet" type="text/css" href="../../../styles/manhuaDate.1.0.css"/>

<link rel="stylesheet" type="text/css" href="../../../vendor/mmgrid/mmGrid.css">
<link rel="stylesheet" type="text/css" href="../../../vendor/mmgrid/theme/bootstrap/mmGrid-bootstrap.css">
<link rel="stylesheet" type="text/css" href="../../../vendor/mmgrid/mmPaginator.css">
<link rel="stylesheet" type="text/css" href="../../../vendor/pagination/pagination.css">
<link rel="stylesheet" type="text/css" href="../../../vendor/s3Slider/styles.css">
<link rel="stylesheet" type="text/css" href="../../../vendor/p3Slider/zsucai.css">

<script  type="text/javascript"  src="../../../scripts/jquery.min.js"></script>
<script  type="text/javascript"  src="../../../scripts/jsAddress.js"></script>
</head>

<body>
<div id="header">
    <div class="header-welcome">
        <div class="xn-width auto">
            <div class="f-left" style="height: 30px;width: 60%;">
                                    <span class="f-left">您好 ， 欢迎来到云地，咨询热线：</span>
                
                <div class="phone">
                    <span class="icon-phone"></span>
                    0571-81902006
                </div>
            </div>
            <div class="f-right column-nav">
                    <a class="pr-20" href="http://www.yunland.cn/base/login?v=1.0-SNAPSHOT">登录</a>
                    <i class="vertical-line bg-color-1"></i>
                    <a class="pr-20" href="http://www.yunland.cn/home/../member/register/step1?v=1.0-SNAPSHOT">注册</a>
                    <i class="vertical-line bg-color-1"></i>
                                <a href="http://www.yunland.cn/news/informationdetail?type=newComer&amp;v=1.0-SNAPSHOT">新手指引</a>
            </div>
        </div>
    </div>
    <div class="header xn-width auto clearfix">
        <div class="header-logo">
            <a href="http://www.yunland.cn/index.htm" class="xn-text-center">
                <img src="../../../images/logo-3.png" alt="云地网">
            </a>
        </div>
        <div class="header-search" id="search-tab">
            <div class="search-nav">
                <ul>
                    <li class="active cur" id="one1" onclick="setTab('one',1)">
                        <a>土地推介</a>
                    </li>
                    <li id="one2" onclick="setTab('one',2)">
                        <a>土地招拍挂</a>
                    </li>
                    <li id="one3" onclick="setTab('one',3)">
                        <a>土地转让</a>
                    </li>
                    <li id="one4" onclick="setTab('one',4)">
                        <a>项目转让</a>
                    </li>
                    <li id="one5" onclick="setTab('one',5)">
                        <a>土地动态</a>
                    </li>
                    <li id="one6" onclick="setTab('one',6)">
                        <a>求购意向</a>
                    </li>
                </ul>
            </div>
                <div id="forLandInfo" class="search-outer">
                    <div class="search-content">
                        <div class="select menudiv">
                            <form>
                                 <div class="select-wrap">
                                     <input onclick="hidep('province_input')" type="text" value="省份" id="province" class="select-input" readonly />
    
                                     <div id="province_input" style="display:none " class="select-content"></div>
                                 </div>
                                 <div class="select-wrap">
                                     <input onclick="hidec('city_input')" type="text" value="城市" id="city" class="select-input" readonly/>
                                     <div id="city_input" style="display:none " class="select-content"></div>
                                 </div>
                                 
                                 <div id="con_one_1" class="tab-con clearfix f-left" style="display:block;">
                                      <select class=" select-input2">
                                             <option>规划用途</option>
                                             <option>住宅用地</option>
                                             <option>商业/办公用地</option>
                                             <option>工业用地</option>
                                             <option>综合用地</option>
                                             <option>全部用途</option>
                                      </select>
                                      <select class=" select-input2">
                                             <option>面积规模</option>
                                             <option>50万平米以上</option>
                                             <option>10万-50万平方以上</option>
                                             <option>10万平米以下</option>
                                             <option>全部</option>
                                      </select>
                                 </div>
                            </form>
                                 <div id="con_one_2" class="tab-con clearfix f-left" style="display:none;">
                                     <form>
                                          <select class=" select-input2">
                                                 <option>规划用途</option>
                                                 <option>住宅用地</option>
                                                 <option>商业/办公用地</option>
                                                 <option>工业用地</option>
                                                 <option>综合用地</option>
                                                 <option>全部用途</option>
                                          </select>
                                          <select class=" select-input2">
                                                 <option>成交状态</option>
                                                 <option>未成交</option>
                                                 <option>已成交</option>
                                                 <option>流拍</option>
                                                 <option>全部状态</option>
                                          </select>
                                     </form>
                                 </div>
                            <div id="con_one_3" class="tab-con clearfix f-left" style="display:none;">
                            <form>
                                  <select class=" select-input2">
                                         <option>规划用途</option>
                                         <option>住宅用地</option>
                                         <option>商业/办公用地</option>
                                         <option>工业用地</option>
                                         <option>综合用地</option>
                                         <option>全部用途</option>
                                  </select>
                                  <select class=" select-input2">
                                         <option>面积规模</option>
                                         <option>50万平米以上</option>
                                         <option>10万-50万平方以上</option>
                                         <option>10万平米以下</option>
                                         <option>全部</option>
                                  </select>
                            </form>
                            </div>
                            <div id="con_one_4" class="tab-con clearfix f-left" style="display:none;">
                            <form>
                                  <select class=" select-input2">
                                         <option>物业类型</option>
                                         <option>住宅</option>
                                         <option>商业/办公</option>
                                         <option>全部类型</option>
                                  </select>
                                  <select class=" select-input2">
                                         <option>面积规模</option>
                                         <option>50万平米以上</option>
                                         <option>10万-50万平方以上</option>
                                         <option>10万平米以下</option>
                                         <option>全部</option>
                                  </select>
                            </form>
                            </div>
                            <div id="con_one_5" class="tab-con clearfix f-left" style="display:none;">
                            <form>
                                  <select class=" select-input2">
                                         <option>规划用途</option>
                                         <option>住宅用地</option>
                                         <option>商业/办公用地</option>
                                         <option>工业用地</option>
                                         <option>综合用地</option>
                                         <option>全部用途</option>
                                  </select>
                            </form>
                            </div>
                            <div id="con_one_6" class="tab-con clearfix f-left" style="display:none;">
                            <form>
                                  <select class=" select-input2">
                                         <option>项目类型</option>
                                         <option>住宅</option>
                                         <option>商业/办公</option>
                                         <option>仓库/厂房</option>
                                         <option>住宅用地</option>
                                         <option>商业/办公用地</option>
                                         <option>工业用地</option>
                                         <option>综合用地</option>
                                         <option>全部类型</option>
                                  </select>
                                  <select class=" select-input2">
                                         <option>面积规模</option>
                                         <option>50万平米以上</option>
                                         <option>10万-50万平方以上</option>
                                         <option>10万平米以下</option>
                                         <option>全部</option>
                                  </select>
                            </form>
                            </div>
                        </div>
                        <button class="search-btn" id="searchAbutton" type="submit">
                        <span>搜索</span>
                        </button>
                        <input type="text" id="keyword" name="keyword" class="form-control home-keyword clearfix" placeholder="输入关键字（地块名/宗地号/位置等）">
                        
                        <input type="hidden" id="businessType" name="businessType" class="form-control wp-94 clearfix">
                    </div>
                </div>
        </div>
        <div class="header-QRCode">
            <img src="../../../images/erweima-2.png" alt="二维码">
        </div>

    </div>
    <div class="header-nav">
        <div class="xn-width auto clearfix">
<ul class="clearfix header-nav-ul">
                <li class="active">
                    <a href="http://www.yunland.cn/index.htm" target="_self">云地网首页</a>
                </li>
                <li class="$activerecommend">
                    <a href="recommend/index.html" target="_self">云地推介</a>
                </li>
                <li class="$activesell">
                    <a href="sell/index.html" target="_self">土地转让</a>
                </li>
                <li class="$activetransfer">
                    <a href="transfer/index.html" target="_self">项目转让</a>
                </li>
                <li class="$activetransfer">
                    <a href="transfer/index.html" target="_self">海外地产</a>
                </li>
                <li class="$activetransfer">
                    <a href="transfer/index.html" target="_self">招拍挂</a>
                </li>
                <li class="$activetransfer">
                    <a href="transfer/index.html" target="_self">需求信息</a>
                </li>
                <li class="$activestatistic">
                    <a href="statistic/index.html" target="_self">云地大数据</a>
                </li>
                <li class="$activetransfer">
                    <a href="transfer/index.html" target="_self">云地资讯</a>
                </li>
                <li class="$activetransfer">
                    <a href="transfer/index.html" target="_self">云地报告</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="newnav xn-width auto clearfix">
        <ul>
           <li>找地块:</li>
           <li><a href="#">住宅用地</a></li>
           <li><a href="#">商业用地</a></li>
           <li><a href="#">工业用地</a></li>
           <li class="mr-29"><a href="#">综合用地</a></li>
           <i>|</i>
           <li>找项目:</li>
           <li><a href="#">住宅</a></li>
           <li><a href="#">酒店</a></li>
           <li><a href="#">写字楼</a></li>
           <li><a href="#">商业</a></li>
           <li class="mr-29"><a href="#">厂房仓库</a></li>
           <i>|</i>
           <li>热门城市:</li>
           <li><a href="#">北京</a></li>
           <li><a href="#">上海</a></li>
           <li><a href="#">广州</a></li>
           <li><a href="#">深圳</a></li>
        </ul>
        <div class="map-icon f-right"><a href="#">地图找地</a></div>
    </div>
</div>
<script type="text/javascript">
function setTab(name,cursel){
cursel_0=cursel;
for(var i=1; i<=links_len; i++){
var menu = document.getElementById(name+i);
var menudiv = document.getElementById("con_"+name+"_"+i);
if(i==cursel){
menu.className="active";
menudiv.style.display="block";
}
else{
menu.className="";
menudiv.style.display="none";
}
}
}
function Next(){
cursel_0++;
if (cursel_0>links_len)cursel_0=1
setTab(name_0,cursel_0);
}
 
var name_0='one';
var cursel_0=1;
var links_len,iIntervalId;
onload=function(){
var links = document.getElementById("search-tab").getElementsByTagName('li')
links_len=links.length;
for(var i=0; i<links_len; i++){
links[i].onmouseover=function(){
clearInterval(iIntervalId);
this.onmouseout=function(){
iIntervalId = setInterval(Next,ScrollTime);;
}
}
}
document.getElementById("con_"+name_0+"_"+links_len).parentNode.onmouseover=function(){
clearInterval(iIntervalId);
this.onmouseout=function(){
iIntervalId = setInterval(Next,ScrollTime);;
}
}
setTab(name_0,cursel_0);
iIntervalId = setInterval(Next,ScrollTime);
}
</script>
<script type="text/javascript">
    addressInit('cmbProvince', 'cmbCity', 'cmbArea','86');
    //加载所有的数据
    var sellmethod = function(type){
        if(type=="sell") {
            var options = '<select class="form-control wp-100" name="sellmethod" id="sellmethod"><option value="">出让方式</option>';
                            options += '<option value="21"> 招标 </option>'
                            options += '<option value="22"> 拍卖 </option>'
                            options += '<option value="23"> 挂牌 </option>'
                            options += '<option value="1"> 划拨 </option>'
                            options += '<option value="2"> 招拍挂 </option>'
                            options += '<option value="3"> 协议 </option>'
                            options += '<option value="4"> 租赁 </option>'
                            options += '<option value="5"> 作价出资或入 </option>'
                            options += '<option value="6"> 授权经营 </option>'
                            options +='</select>'
        }else if(type=="transfer"){
            var options = '<select class="form-control wp-100" name="sellmethod" id="sellmethod"><option value="">合作方式</option>';
                            options += '<option value="1"> 整体转让 </option>'
                            options += '<option value="2"> 控股权转让 </option>'
                            options += '<option value="3"> 部分转让 </option>'
                            options += '<option value="4"> 股权转让 </option>'
                            options += '<option value="5"> 项目融资 </option>'
                            options += '<option value="6"> 债权融资 </option>'
                            options += '<option value="7"> 租赁融资 </option>'
                            options +='</select>'
        }
        $("#sellMethod_li").append(options);
    }
    var businessType = '';
//    alert(businessType);
    $(function(){
        if($("#nav-"+businessType)){
            $("#nav-"+businessType).addClass('active');
            $("#nav-"+businessType).siblings().removeClass('active');
            if(businessType=='news'){
                $("#forLandNews").show();
                $("#forLandInfo").hide();
            }else{
                $("#forLandNews").hide();
                $("#forLandInfo").show();
                if(businessType=='sell'||businessType=='transfer'){
                    $("#sellMethod_li").empty();
                    sellmethod(businessType);
                }
            }
        }
        $("#keyword").val('');
        $("#cmbProvince").val('');
        $("#cmbCity").val('');
        $("#cmbArea").val('');
        $("#purpose").val('');
        $("#sellmethod").val('');
        var cp = '';
        if(''!=cp || null!=cp){
            addressInit('cmbProvince', 'cmbCity', 'cmbArea','','','');
        }
        $("#businessType").data("currenttab",'');
    });

</script>


<div id="content" class="mb-50">
    <div class="member-content statistic-content xn-width auto clearfix mt_10">
        <div class="clearfix"></div>
        <div class="content-left">
            <div class="statistic-nav">
                <div class="column-nav">
                    <a href="trendChart.html">云地走势图<span></span></a>
                    <a class="active" href="intelligence.html">云地情报站<span></span></a>
                    <a href="index.html">云地排行榜<span></span></a>
                </div>
            </div>
        </div>

        <div class="content-right">
             <div class="hot-city">                           
                 <dl class="listIndex" attr="terminal_brand_s">
                    <dt id="region">热门城市 :</dt>
                    <dd data-more=true>
                        <label>
                            <input name="radio2" type="radio" value="310000"
                                   style="display: none;"/>
                            <a href="javascript:;" values2="" values1="" value="310000"
                               attrval="上海">上海</a>
                        </label>
                            <label>
                            <input name="radio2" type="radio" value="110000"
                                   style="display: none;"/>
                            <a href="javascript:;" values2="" values1="" value="110000"
                               attrval="北京">北京</a>
                        </label>
                        <label>
                            <input name="radio2" type="radio" value="440100"
                                   style="display: none;"/>
                            <a href="javascript:;" values2="" values1="" value="440100"
                               attrval="广州">广州</a>
                        </label>
                        <label>
                            <input name="radio2" type="radio" value="440300"
                                   style="display: none;"/>
                            <a href="javascript:;" values2="" values1="" value="440300"
                               attrval="深圳">深圳</a>
                        </label>
                        <label>
                            <input name="radio2" type="radio" value="500000"
                                   style="display: none;"/>
                            <a href="javascript:;" values2="" values1="" value="500000"
                               attrval="重庆">重庆</a>
                        </label>
                        <label>
                            <input name="radio2" type="radio" value="330100"
                                   style="display: none;"/>
                            <a href="javascript:;" values2="" values1="" value="330100"
                               attrval="杭州">杭州</a>
                        </label>
                            <label>
                            <input name="radio2" type="radio" value="120000"
                                   style="display: none;"/>
                            <a href="javascript:;" values2="" values1="" value="120000"
                               attrval="天津">天津</a>
                        </label>
                         <label>
                            <input name="radio2" type="radio" value="320100"
                                   style="display: none;"/>
                            <a href="javascript:;" values2="" values1="" value="320100"
                               attrval="南京">南京</a>
                        </label>
                    </dd>
                </dl>
            </div>
            <div class="search-div">
                <div class="input-line">
                    <label style="width:85px">地产商名称：</label>
                    <input id="user" type="text" class="form-control w-208"/>
                    <div class="tip"></div>
                    <label>所在地区：</label>
                    <select class="form-control w-100 mr-10" id="cmbProvinces" name="cmbProvinces"></select>
                    <select class="form-control w-100 mr-10" id="cmbCitys" name="cmbCitys"></select>
                    <select class="form-control w-100" id="cmbAreas" name="cmbAreas"></select>
                </div>
                <div class="input-line">
                    <label style="width:85px">规划用途：</label>
                    <select class="form-control w-215" id="landType" name="">
                        <option value="">-- 请选择规划用途 --</option>
                                                    <option value="05">商服用地</option>
                                                    <option value="051">批发零售用地</option>
                                                    <option value="052">住宿餐饮用地</option>
                                                    <option value="053">商务金融用地</option>
                                                    <option value="054">其他商服用地</option>
                                                    <option value="06">工矿仓储用地</option>
                                                    <option value="061">工业用地</option>
                                                    <option value="062">采矿用地</option>
                                                    <option value="063">仓储用地</option>
                                                    <option value="07">住宅用地</option>
                                                    <option value="08">公共管理与公共服务用地</option>
                                                    <option value="081">机关团体用地</option>
                                                    <option value="082">新闻出版用地</option>
                                                    <option value="083">科教用地</option>
                                                    <option value="084">医卫慈善用地</option>
                                                    <option value="085">文体娱乐用地</option>
                                                    <option value="086">公共设施用地</option>
                                                    <option value="087">公园与绿地</option>
                                                    <option value="088">风景名胜设施用地</option>
                                                    <option value="09">特殊用地</option>
                                                    <option value="091">军事设施用地</option>
                                                    <option value="092">使领馆用地</option>
                                                    <option value="093">监教场所用地</option>
                                                    <option value="094">宗教用地</option>
                                                    <option value="095">殡葬用地</option>
                                                    <option value="10">交通运输用地</option>
                                                    <option value="102">公路用地</option>
                                                    <option value="103">街巷用地</option>
                                                    <option value="104">农村道路</option>
                                                    <option value="105">机场用地</option>
                                                    <option value="106">港口码头用地</option>
                                                    <option value="107">管道运输用地</option>
                                                    <option value="11">水域及水利设施用地</option>
                                                    <option value="111">河流水面</option>
                                                    <option value="112">湖泊水面</option>
                                                    <option value="113">水库水面</option>
                                                    <option value="114">坑塘水面</option>
                                                    <option value="115">沿海滩涂</option>
                                                    <option value="116">内陆滩涂</option>
                                                    <option value="117">沟渠</option>
                                                    <option value="118">水工建筑用地</option>
                                                    <option value="119">冰川及永久积雪</option>
                                                    <option value="12">其他土地</option>
                                                    <option value="121">空闲地</option>
                                                    <option value="122">设施农用地</option>
                                                    <option value="123">田坎</option>
                                                    <option value="124">盐碱地</option>
                                                    <option value="125">沼泽地</option>
                                                    <option value="126">沙地</option>
                                                    <option value="127">裸地</option>
                                                    <option value="071">高档住宅用地</option>
                                                    <option value="072">中低价位、中小套型普通商品住房用地</option>
                                                    <option value="073">其他普通商品住房用地</option>
                                                    <option value="074">经济适用住房用地</option>
                                                    <option value="075">廉租住房用地</option>
                                                    <option value="076">其他住房用地</option>
                                                    <option value="shangy">商业</option>
                                                    <option value="zhuz">住宅</option>
                                                    <option value="zhongh">综合</option>
                                                    <option value="qiet">其他</option>
                                                    <option value="077">公共租赁住房用地</option>
                                            </select>
                    <div class="tip"></div>
                        <label>出让方式：</label>
                        <select class="form-control w-208" id="sellWay" name="">
                            <option value="">-- 请选择出让方式 --</option>
                                    <option value="21">招标</option>
                                    <option value="22">拍卖</option>
                                    <option value="23">挂牌</option>
                                    <option value="1">划拨</option>
                                    <option value="2">招拍挂</option>
                                    <option value="3">协议</option>
                                    <option value="4">租赁</option>
                                    <option value="5">作价出资或入</option>
                                    <option value="6">授权经营</option>
                            </select>
                </div>
                <div class="input-line2">
                     <span class="f-left">选择类型：</span>
                     <ul class="member-my">
                        <li id="map" class="click"><a href="javascript:;">地图</a></li>
                        <li id="table"><a href="javascript:;">列表</a></li>
                    </ul>
                     <div class="f-right">
                         <a id="query" class="btn btn-short button ml-10">查询</a>
                         <a class="btn download-btn"><span></span>下载</a>
                     </div>
                </div>
            </div>            
            <div class="map-content" id="mainMap">
                <div id="allmap"></div>
            </div>
            <div id="mainTable" >
                <div class="content-main" >
                    <table cellpadding="0" cellspacing="0" id="resourceTable" class="mmg" width="100%" #*class="statistic word-breakAll"*#>
                    </table>
                </div>
                <div id="pg" style="text-align: right;"></div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=UoGBFm6G6iI6rYiF9uc9NpST"></script>
<script type="text/javascript"  src="../../../scripts/statistic/intelligence.js"></script>
<script type="text/javascript">
    addressInit2('cmbProvinces', 'cmbCitys', 'cmbAreas','86');
    var selectModelType = [
                    {id:"05",name:'商服用地'},
                    {id:"051",name:'批发零售用地'},
                    {id:"052",name:'住宿餐饮用地'},
                    {id:"053",name:'商务金融用地'},
                    {id:"054",name:'其他商服用地'},
                    {id:"06",name:'工矿仓储用地'},
                    {id:"061",name:'工业用地'},
                    {id:"062",name:'采矿用地'},
                    {id:"063",name:'仓储用地'},
                    {id:"07",name:'住宅用地'},
                    {id:"08",name:'公共管理与公共服务用地'},
                    {id:"081",name:'机关团体用地'},
                    {id:"082",name:'新闻出版用地'},
                    {id:"083",name:'科教用地'},
                    {id:"084",name:'医卫慈善用地'},
                    {id:"085",name:'文体娱乐用地'},
                    {id:"086",name:'公共设施用地'},
                    {id:"087",name:'公园与绿地'},
                    {id:"088",name:'风景名胜设施用地'},
                    {id:"09",name:'特殊用地'},
                    {id:"091",name:'军事设施用地'},
                    {id:"092",name:'使领馆用地'},
                    {id:"093",name:'监教场所用地'},
                    {id:"094",name:'宗教用地'},
                    {id:"095",name:'殡葬用地'},
                    {id:"10",name:'交通运输用地'},
                    {id:"102",name:'公路用地'},
                    {id:"103",name:'街巷用地'},
                    {id:"104",name:'农村道路'},
                    {id:"105",name:'机场用地'},
                    {id:"106",name:'港口码头用地'},
                    {id:"107",name:'管道运输用地'},
                    {id:"11",name:'水域及水利设施用地'},
                    {id:"111",name:'河流水面'},
                    {id:"112",name:'湖泊水面'},
                    {id:"113",name:'水库水面'},
                    {id:"114",name:'坑塘水面'},
                    {id:"115",name:'沿海滩涂'},
                    {id:"116",name:'内陆滩涂'},
                    {id:"117",name:'沟渠'},
                    {id:"118",name:'水工建筑用地'},
                    {id:"119",name:'冰川及永久积雪'},
                    {id:"12",name:'其他土地'},
                    {id:"121",name:'空闲地'},
                    {id:"122",name:'设施农用地'},
                    {id:"123",name:'田坎'},
                    {id:"124",name:'盐碱地'},
                    {id:"125",name:'沼泽地'},
                    {id:"126",name:'沙地'},
                    {id:"127",name:'裸地'},
                    {id:"071",name:'高档住宅用地'},
                    {id:"072",name:'中低价位、中小套型普通商品住房用地'},
                    {id:"073",name:'其他普通商品住房用地'},
                    {id:"074",name:'经济适用住房用地'},
                    {id:"075",name:'廉租住房用地'},
                    {id:"076",name:'其他住房用地'},
                    {id:"shangy",name:'商业'},
                    {id:"zhuz",name:'住宅'},
                    {id:"zhongh",name:'综合'},
                    {id:"qiet",name:'其他'},
                    {id:"077",name:'公共租赁住房用地'},
            ]
    var getLandPurose = function(value){
        if(!value){
            return "";
        }
        // 查询用途
        var planuseModes = [
                            {key:'05',value:'商服用地'},
                            {key:'051',value:'批发零售用地'},
                            {key:'052',value:'住宿餐饮用地'},
                            {key:'053',value:'商务金融用地'},
                            {key:'054',value:'其他商服用地'},
                            {key:'06',value:'工矿仓储用地'},
                            {key:'061',value:'工业用地'},
                            {key:'062',value:'采矿用地'},
                            {key:'063',value:'仓储用地'},
                            {key:'07',value:'住宅用地'},
                            {key:'08',value:'公共管理与公共服务用地'},
                            {key:'081',value:'机关团体用地'},
                            {key:'082',value:'新闻出版用地'},
                            {key:'083',value:'科教用地'},
                            {key:'084',value:'医卫慈善用地'},
                            {key:'085',value:'文体娱乐用地'},
                            {key:'086',value:'公共设施用地'},
                            {key:'087',value:'公园与绿地'},
                            {key:'088',value:'风景名胜设施用地'},
                            {key:'09',value:'特殊用地'},
                            {key:'091',value:'军事设施用地'},
                            {key:'092',value:'使领馆用地'},
                            {key:'093',value:'监教场所用地'},
                            {key:'094',value:'宗教用地'},
                            {key:'095',value:'殡葬用地'},
                            {key:'10',value:'交通运输用地'},
                            {key:'102',value:'公路用地'},
                            {key:'103',value:'街巷用地'},
                            {key:'104',value:'农村道路'},
                            {key:'105',value:'机场用地'},
                            {key:'106',value:'港口码头用地'},
                            {key:'107',value:'管道运输用地'},
                            {key:'11',value:'水域及水利设施用地'},
                            {key:'111',value:'河流水面'},
                            {key:'112',value:'湖泊水面'},
                            {key:'113',value:'水库水面'},
                            {key:'114',value:'坑塘水面'},
                            {key:'115',value:'沿海滩涂'},
                            {key:'116',value:'内陆滩涂'},
                            {key:'117',value:'沟渠'},
                            {key:'118',value:'水工建筑用地'},
                            {key:'119',value:'冰川及永久积雪'},
                            {key:'12',value:'其他土地'},
                            {key:'121',value:'空闲地'},
                            {key:'122',value:'设施农用地'},
                            {key:'123',value:'田坎'},
                            {key:'124',value:'盐碱地'},
                            {key:'125',value:'沼泽地'},
                            {key:'126',value:'沙地'},
                            {key:'127',value:'裸地'},
                            {key:'071',value:'高档住宅用地'},
                            {key:'072',value:'中低价位、中小套型普通商品住房用地'},
                            {key:'073',value:'其他普通商品住房用地'},
                            {key:'074',value:'经济适用住房用地'},
                            {key:'075',value:'廉租住房用地'},
                            {key:'076',value:'其他住房用地'},
                            {key:'shangy',value:'商业'},
                            {key:'zhuz',value:'住宅'},
                            {key:'zhongh',value:'综合'},
                            {key:'qiet',value:'其他'},
                            {key:'077',value:'公共租赁住房用地'},
                    ]
        for(var i=0;i<planuseModes.length;i++){
            var planuseMode = planuseModes[i];
            if(planuseMode&&planuseMode.key==value){
                return ""+planuseMode.value;
            }
        }
    }
</script>

</body>
<!-- 日期控件 -->
<script type="text/javascript" src="http://www.yunland.cn/home/vendor/My97DatePicker/WdatePicker.js?v=1.0-SNAPSHOT"></script>
<script type="text/javascript" src="http://www.yunland.cn/home/scripts/datejs.js?v=1.0-SNAPSHOT"></script>
<script type="text/javascript" src="http://www.yunland.cn/home/scripts/ui.tab.js?v=1.0-SNAPSHOT"></script>
<script type="text/javascript"  src="http://www.yunland.cn/home/vendor/mmgrid/plugins.js?v=1.0-SNAPSHOT"></script>
<script type="text/javascript"  src="http://www.yunland.cn/home/vendor/mmgrid/json2.js?v=1.0-SNAPSHOT"></script>
<script type="text/javascript"  src="http://www.yunland.cn/home/vendor/mmgrid/mmGrid.js?v=1.0-SNAPSHOT"></script>
<script type="text/javascript"  src="http://www.yunland.cn/home/vendor/mmgrid/mmPaginator.js?v=1.0-SNAPSHOT"></script>
<script  type="text/javascript"  src="http://www.yunland.cn/home/scripts/index.js?v=1.0-SNAPSHOT"></script>
<script type="text/javascript" src="http://www.yunland.cn/home/vendor/pagination/jquery.pagination.js?v=1.0-SNAPSHOT"></script>
<script type="text/javascript" src="http://www.yunland.cn/home/vendor/s3Slider/s3Slider.js?v=1.0-SNAPSHOT"></script>
</html>
