$rundata.setLayout("defaultMember")
<script type="text/javascript"  src="$homeContent.getURI('scripts/member/collection.js')"></script>
<div id="content">
    <div class="member-content xn-width auto clearfix">
        <div class="content-left">
            <h3>我的云地</h3>
            <ul class="member-my">
                <li><a href="$homeLink.setTarget("member/admin/index")">我的土地</a></li>
                <li><a href="$homeLink.setTarget("member/admin/requirement")">我的需求</a></li>
                <li><a href="$homeLink.setTarget("member/admin/deliver")">我的投递</a></li>
                <li class="click"><a href="$homeLink.setTarget("member/admin/collection")">我的收藏</a></li>
            </ul>
            <i class="member-line"></i>
            <ul class="member-setting">
                <li class="base-message"><a href="$homeLink.setTarget("member/admin/baseMessage")">基本信息</a></li>
                <li class="password"><a href="$homeLink.setTarget("member/admin/password")">密码管理</a></li>
                ##<li class="upgrade"><a href="$homeLink.setTarget("member/admin/upgrade")">会员升级</a></li>
            </ul>
        </div>

        <div class="content-right">
            <div class="content-top">
            </div>
            <div class="content-main">
                <table id="resourceTable" class="mmg" width="100%">

                </table>
            </div>
            <div id="pg" style="text-align: right;"></div>
        </div>
    </div>
</div>