<div class="article-content xn-width auto">
    <div class="title-outer">
        <div class="title">$!landDynamic.title</div>
        <div class="publish-time">
##            <span class="publish-word">发布时间:</span>
##            <span>
##                #if($landDynamic.approveTime)
##                    $!utils.formatMessage("{0, date, yyyy-MM-dd HH:mm:ss}", $!landDynamic.approveTime)
##                #else
##                    暂无发布时间
##                #end
##            </span>
        </div>
    </div>
    <div class="summary">
        #if($landDynamic.remarks)
            摘要：$!landDynamic.remarks
        #end
    </div>
    <div class="contents">
        #noescape() $!landDynamic.content #end
    </div>
</div>