$page.setTitle("修改土地推介")

<script type="text/javascript">
    var selectModel2 = [
        #foreach($param in ${selectLandPurpose.keySet()})
            {id:"$param",name:'${selectLandPurpose.get($param)}'},
        #end
    ]

</script>

<div class="xn-breadcrumb auto  xn-width clearfix ">
    <ul class="breadcrumb">
        <li><a class="icon icon-home_page" href="$yunlandLink.setTarget("index")"></a></li>
        <li><a href="$yunlandLink.setTarget("recommend/index")">土地推介</a></li>
        <li class="active">修改土地推介</li>
    </ul>
</div>

<div class="xn-main  auto xn-width  clearfix" id="main" ng-controller="EditRecommendController">
    <form class="form-horizontal xn-form" role="form" xn-form-validate novalidate name="validateForm">
        <div class="xn-edit  recommend-editContent clearfix" style="min-width: 1200px">
            <div class="edit-content">
                <div class="recommend-editContent-top clearfix">
                    <h4 class="recommend-editContent-h4">头部推介图片</h4>

                    <div>
                        <div class="xn-input-line  clearfix" style="width:980px;margin: 0 auto">
                            <ul style="width: 595px;height: 250px ;float: left;margin-right: 20px" class="xn-upload-img xn-upload-img-header ">
                                <input type="file" id="headImageFile" name="headImageFile" ng-click="showHeadImagePicture()" width="114" height="85"
                                       contentEditable="false" style="display:none" accept="image/png,image/gif,image/bmp,image/jpeg,image/jpg"/>
                                <li class="clearfix" style="width: 595px;height: 250px ;" ng-if="recomend.headImagepath == null" onclick="headImageFile.click()">
                                    <i class="icon icon-add"></i>
                                    <div class="upload-add-title ng-binding">头部推介图片(建议尺寸：1190*500)</div>
                                </li>
                                <img ng-if="recomend.headImagepath != null" onclick="headImageFile.click()" class="view-img imgFile clearfix" id="spanImage" alt="请选择图片"
                                     width="595" height="250" ng-src="{{recomend.headImagepath}}"/>
                            </ul>
                            <ul style="width: 330px;height: 250px; float: left;" class="xn-upload-img  xn-upload-img-small">
                                <input type="file" id="headImageFileSmall" name="headImageFileSmall" ng-click="showHeadImagePictureSmall()" width="50" height="50"
                                       contentEditable="false" style="display:none" accept="image/png,image/gif,image/bmp,image/jpeg,image/jpg"/>
                                <li class="clearfix" style="width: 330px;height: 250px;" ng-if="recomend.headImagepathSmall == null" onclick="headImageFileSmall.click()">
                                    <i class="icon icon-add"></i>
                                    <div class="upload-add-title ng-binding">头部推介图片缩略图(建议尺寸:330*250)</div>
                                </li>
                                <img ng-if="recomend.headImagepathSmall != null" onclick="headImageFileSmall.click()"
                                     class="view-img imgFile clearfix" id="spanImage" alt="请选择图片"
                                     width="330" height="250" ng-src="{{recomend.headImagepathSmall}}"/>
                            </ul>
                            #*<ul class="xn-upload-img xn-upload-img-header clearfix" >
                                <input type="file" id="headImageFile" name="headImageFile" ng-click="showHeadImagePicture()" width="114" height="85"
                                       contentEditable="false" style="display:none" accept="image/png,image/gif,image/bmp,image/jpeg,image/jpg"/>
                                <li class="clearfix" ng-if="recomend.headImagepath == null" onclick="headImageFile.click()">
                                    <i class="icon icon-add"></i>
                                    <div class="upload-add-title ng-binding">头部推介图片</div>
                                </li>
                                <img ng-if="recomend.headImagepath != null" onclick="headImageFile.click()" class="view-img imgFile clearfix" id="spanImage" alt="请选择图片"
                                     width="595" height="250" ng-src="{{recomend.headImagepath}}"/>
                            </ul>*#
                            #*<ul class="xn-upload-img xn-upload-img-header clearfix"  style="width: 200px;height: 200px">
                                <input type="file" id="headImageFileSmall" name="headImageFileSmall" ng-click="showHeadImagePictureSmall()" width="50" height="50"
                                       contentEditable="false" style="display:none" accept="image/png,image/gif,image/bmp,image/jpeg,image/jpg"/>
                                <li class="clearfix" ng-if="recomend.headImagepathSmall == null" onclick="headImageFileSmall.click()">
                                    <i class="icon icon-add"></i>
                                    <div class="upload-add-title ng-binding">头部推介图片</div>
                                </li>
                                <img ng-if="recomend.headImagepathSmall != null" onclick="headImageFileSmall.click()"  style="width: 200px;height: 200px"
                                     class="view-img imgFile1 clearfix" id="spanImage" alt="请选择图片"
                                     width="200" height="200" ng-src="{{recomend.headImagepathSmall}}"/>
                            </ul>*#
                        </div>
                    </div>
                </div>
                <div class="line"></div>
                <h4 class="recommend-editContent-h4">土地基本信息</h4>
                <div>
                    <div class="xn-input-line  clearfix">
                        <label class="xn-label"><span class="f-right">宗地编号：</span><i
                                class="xn-required-i f-right"></i></label>

                        <div class="xn-input-sm">
                            <input type="text" class="form-control"
                                   name="number" ng-model="recomend.landNumber" required="required">
                        </div>
                        <div class="tip"></div>
                        <label class="xn-label"><span class="f-right">土地名称：</span><i
                                class="xn-required-i f-right"></i></label>

                        <div class="xn-input-sm">
                            <input type="text" class="form-control"
                                   name="name" ng-model="recomend.name" required="required">
                        </div>
                    </div>
                    <div class="xn-input-line  clearfix">
                        <label class="xn-label"><span class="f-right">宗地坐落：</span><i
                                class="xn-required-i f-right"></i></label>

                        <div class="xn-input-sm">
                            <input type="text" class="form-control"
                                   name="place" ng-model="recomend.landLocation" required="required">
                        </div>
                        <div class="tip"></div>
                        <label class="xn-label"><span class="f-right">出让年限：</span><i
                                class="xn-required-i f-right"></i></label>

                        <div class="xn-input-sm">
                            <input type="text" class="form-control"
                                   name="limit" ng-model="recomend.sellYear" required="required">
                        </div>
                    </div>
                    <div class="xn-input-line  clearfix">
                        <label class="xn-label"><span class="f-right">容积率：</span><i
                                class="xn-required-i f-right"></i></label>

                        <div class="xn-input-sm">
                            <input type="text" class="form-control"
                                   name="plotRatio" ng-model="recomend.plotRatio" required="required" >
                        </div>
                        <div class="tip"></div>
                        <label class="xn-label"><span class="f-right">建筑密度(%)：</span><i
                                class="xn-required-i f-right"></i></label>

                        <div class="xn-input-sm">
                            <input type="text" class="form-control"
                                   name="buildingDensity" ng-model="recomend.buildingDensity" required="required" >
                        </div>
                    </div>
                    <div class="xn-input-line  clearfix">
                        <label class="xn-label"><span class="f-right">绿化率(%)：</span><i
                                class="xn-required-i f-right"></i></label>

                        <div class="xn-input-sm">
                            <input type="text" class="form-control"
                                   name="landscapingRatio" ng-model="recomend.greeningRate" required="required" >
                        </div>
                        <div class="tip"></div>
                        <label class="xn-label"><span class="f-right">建筑限高(米)：</span><i
                                class="xn-required-i f-right"></i></label>

                        <div class="xn-input-sm">
                            <input type="text" class="form-control"
                                   name="maxHeight" ng-model="recomend.maxHeight" required="required" >
                        </div>
                    </div>
                    <div class="xn-input-line  clearfix label-long">
                        <label class="xn-label"><span class="f-right">土地用途：</span><i
                                class="xn-required-i f-right"></i></label>

                        #*<div class="xn-input-sm">
                            <div xn-filter-select data-select-data="selectData2" ng-model="recomend.planUse" name="operatingUnit" required="required" ></div>
                        </div>*#
                        <div class="xn-input-sm">
                            <select id="planUse" class="form-control" ng-model="land.planUse">
                                <option id="zhuz" value="zhuz">住宅用地</option>
                                <option id="shangy" value="shangy">商业/办公用地</option>
                                <option id="gongy" value="gongy">工业用地</option>
                                <option id="zhongh" value="zhongh">综合用地</option>
                            </select>
                        </div>
                        <div class="tip"></div>
                        <label class="xn-label"><span class="f-right">宗地总面积(万平方米)：</span><i
                                class="xn-required-i f-right"></i></label>

                        <div class="xn-input-sm">
                            <input type="text" class="form-control"
                                   name="area" ng-model="recomend.floorSpace" required="required">
                        </div>
                    </div>
                </div>

                <div class="line"></div>
                <h4 class="recommend-editContent-h4">位置地图</h4>
                &nbsp;<a href="#" ng-show="clearOverlaysShow" ng-click="clearOverlays()">清除绘画</a>
                &nbsp;<a href="#" ng-show="drawingManagerShow" ng-click="addDrawingManager()">添加绘画(双击结束绘制)</a>
                <div>
                    <div class="xn-input-line  clearfix">
                        <label class="xn-label"><span class="f-right">位置：</span><i
                                class="xn-required-i f-right"></i></label>

                        <div class="xn-input-lg">
                            <div xn-location ng-model="land.address"  name="address" #*data-location-id="{{land.address}}"  *#></div>
                        </div>
                    </div>
                    <div class="xn-input-line  clearfix" style="display: none;">
                        <label class="xn-label"><span class="f-right">经纬度：</span><i
                                class="xn-required-i f-right"></i></label>

                        <div class="xn-input-sm">
                            <input type="text" class="form-control"
                                   name="coordinate" ng-model="land.location" >
                        </div>
                    </div>
                    <div class="xn-input-line  clearfix">
                        <div class="map-content">
                            <div id="allmap"></div>
                        </div>
                    </div>
                </div>

                <div class="line"></div>
                <h4 class="recommend-editContent-h4">地块图片</h4>
                <div class="multiple-file"><div xn-attachment-edit ng-model="attachment"  name="attachment"></div></div>

                <div class="line"></div>
                <h4 class="recommend-editContent-h4">详细介绍</h4>
                <div>
                    <div class="xn-input-line  clearfix">
                        <div class="map-content">
                           <textarea class="form-control" rows="15" name="landIntro" id="landIntro" ng-model="recomend.content"></textarea>
                        </div>
                    </div>
                </div>

                #*<div class="xn-input-line clearfix" ng-show="validateForm.$errors.length > 0 ">
                    <div class="alert alert-danger"><i class="glyphicon glyphicon-remove-sign mr_5"
                                                       ng-click="closeAlert(0,validateForm.$errors)"></i>{{validateForm.$errors[0]}}
                    </div>
                </div>*#
                <div class="xn-input-line clearfix" ng-show="validateForm.$errors.length > 0 ">
                    <div class="alert alert-danger"><i class="glyphicon glyphicon-remove-sign mr_5"
                                                       ng-click="closeAlert(0,validateForm.$errors)"></i>{{validateForm.$errors[0]}}
                    </div>
                </div>
            </div>
        </div>
        <div class="mb_20 clearfix">
            <button  class="btn btn-primary col-md-2 col-sm-offset-2" xn-form-submit="doSave()">保存</button>
            <button  class="btn btn-warning col-md-2 col-sm-offset-1" xn-form-submit="doPublish()">发布</button>
            <a href="javascript:history.back(-1)"  class="btn btn-default col-md-2 col-sm-offset-1">取消</a>
        </div>
    </form>
</div>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=UoGBFm6G6iI6rYiF9uc9NpST"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.js"></script>
