<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    #showTitle("云地网-互联网土地市场-测试版")
    <meta name="keywords" content="云地网-互联网土地市场-测试版" />
    <meta name="description" content="云地网-互联网土地市场-测试版">
    <metahttp-equiv ="X-UA-Compatible" content="IE=8"><!--以IE8模式渲染-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="Shortcut Icon" href="$homeContent.getURI('images/favicon.ico')" type="image/x-icon">

    <link rel="stylesheet" href="$homeContent.getURI('styles/base.css')"></link>
    <link rel="stylesheet" href="$homeContent.getURI('styles/index.css')"></link>
    <link rel="stylesheet" href="$homeContent.getURI('styles/other.css')"></link>
    <link rel="stylesheet" href="$homeContent.getURI('vendor/kindeditor/themes/default/default.css')"></link>
    <script  type="text/javascript"  src="$homeContent.getURI('scripts/jquery.min.js')"></script>
</head>
<body>
    $control.setTemplate("home:nav")
    $screen_placeholder
##    $constants.icp()



#set($about = $pageInfo.get("623439392282906624"))
#set($contact = $pageInfo.get("623008912471363584"))

</body>
<script  type="text/javascript"  src="$homeContent.getURI('scripts/jsAddress.js')"></script>
<script  type="text/javascript"  src="$homeContent.getURI('scripts/site.js')"></script>
<script  type="text/javascript"  src="$homeContent.getURI('scripts/map.js')"></script>
<script type="text/javascript" src="$homeContent.getURI('vendor/kindeditor/kindeditor-all-min.js')"></script>
<script type="text/javascript" src="$homeContent.getURI('vendor/kindeditor/lang/zh_CN.js')"></script>
<script  type="text/javascript"  src="$homeContent.getURI('scripts/jquery.form.js')"></script>
##<script  type="text/javascript"  src="$homeContent.getURI('scripts/ajaxfileupload.js')"></script>
</html>