$rundata.setLayout("defaultLogin")

<div class="login-header">
    <div class="xn-width auto">
        <div class="header-logo">
            <a href="$homeLink.setTarget("index")" class="xn-text-center">
                <img src="$baseContent.getURI('/images/logo.png')" width="90" height="50" alt="云地网">
            </a>
        </div>
        <i class="vertical-line bg-color-1"></i>

        <div class="header-title">欢迎登录云地网</div>
        <div class="f-right mt-6">
            咨询热线：
            <span class="phone">
                <img src="$baseContent.getURI('/images/phone.png')" width="16" height="15" alt="电话">
                0571-81902006
            </span>
        </div>
    </div>
</div>
<div class="login-background">
    #macro (queryMessage $field)
        #if (!$field.valid) $field.message #end
    #end
    <form action="" method="post">
        #set ($group = $form.login.defaultInstance)
        <input type="hidden" name="action" value="login_action"/>

        <div class="xn-width auto p-relative">
            <div class="login-content">
                <div class="input-line clearfix">
                    #if($errorMsg) <p style="color: red">$errorMsg</p> #end
                </div>
                <div class="input-line clearfix">
                    <div class="mb-5">账号
                    </div>
                    <input type="text" class="form-control" name="$group.account.key" value="$group.account.value"
                           placeholder="请输入您的账号"/>
                </div>
                <div class="error-area">
                    #if (!$group.account.valid)
                        $group.account.message
                    #end
                </div>
                <div class="input-line clearfix">
                    <div class="mb-5">密码
                    </div>
                    <input type="password" class="form-control" id="passwordInput" placeholder="请输入您的密码">
                    <input type="password" id="password" name="$group.password.key"
                           value="$group.password.value" style="display: none;"/>
                </div>
                <div class="error-area">
                    #if (!$group.password.valid)
                                $group.password.message
                            #end
                </div>
                <div class="input-line xn-center clearfix mt-30">
                    <input type="submit" class="btn btn-primary-long" name="event_submit_do_login" onclick="doLogin()"
                           value="登录"/>
                </div>
                <div class="input-line">
                    <div class="f-right column-nav mr-5">
                        <a href="$baseLink.setTarget('findpassword/step1')">忘记密码</a>
                        <i class="vertical-line"></i>
                        <a href="$homeLink.setTarget('member/register/step1')">立即注册</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="xn-width auto">
    <div class="step-footer-content">
        <div class="column-nav">
            <a href="">联系我们</a>
            <i class="vertical-line bg-color-1"></i>
            <a href="">加入我们</a>
            <i class="vertical-line bg-color-1"></i>
            <a href="">免责申明</a>
            <i class="vertical-line bg-color-1"></i>
            <a href="">意见反馈</a>
            <i class="vertical-line bg-color-1"></i>
            <a href="">友情链接</a>
            <i class="vertical-line bg-color-1"></i>
            <a href="">网站地图</a>
        </div>
        <div class="clearfix"></div>
        <br>
        <div class="#*recordInfo *#xn-width auto w-150">
            <span>浙江臻善科技有限公司</span><br/>
            <span>浙ICP备06018569号-2</span><br/>
        </div>
    </div>
</div>

##<div class="main login clearfix" ng-controller="LoginController">
##    <div class="form-layout clearfix">
##        <form action="" method="post">
##            #set ($group = $form.login.defaultInstance)
##            <input type="hidden" name="action" value="login_action"/>
##            <p>登录</p>
##            #if($errorMsg) <p>$errorMsg</p> #end
##            <p>
##                <input type="text" name="$group.account.key" value="$group.account.value" placeholder="请输入您的账号"/>
##                #if (!$group.account.valid)
##                    $group.account.message
##                #end
##                <input type="password" id="passwordInput" placeholder="请输入您的密码">
##                <input type="password" hidden="hidden" id="password" name="$group.password.key" value="$group.password.value"/>
##                #if (!$group.password.valid)
##                    $group.password.message
##                #end
##                <input type="submit" name="event_submit_do_login" onclick="doLogin()"/>
##            </p>
##        </form>
##    </div>
##</div>